Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

Remove unneeded prop and dataFile references
  src/explore-education-statistics-admin/src/pages/release/data/components/AncillaryFileSummaryList.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

PR Feedback
  src/explore-education-statistics-admin/src/pages/release/data/components/DeleteDataFileModal.tsx
  src/explore-education-statistics-admin/src/queries/releaseDataFileQueries.ts
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5881 - removing changes to see which magic combo gets the Function App working
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

EES-5881 - final tweaks to produce a working containerised Function App
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

EES-5881 - adding final tweaks to enable dynamic scaling
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

EES-5881 - adding final tweaks to enable dynamic scaling
  infrastructure/templates/screener/application/screenerContainerisedFunctionApp.bicep
Due: none

Rename SearchDocument to SearchableDocument
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/ProgramTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
Due: azure-pipelines.dfe.yml

Renamed PublicationLatestReleaseVersionId to PublicationLatestPublishedReleaseVersionId
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/CreateSearchableReleaseDocumentInAzureStorageFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/Dtos/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/Dtos/SearchDocumentCreatedMessageDto.cs
Due: azure-pipelines.dfe.yml

EES-5634 - Admin API - Adding new `GetDataSetVersion` REST endpoint
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Public.Data/DataSetVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Mappings/MappingProfiles.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IDataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/Public.Data/DataSetVersionViewModels.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5934 - FE - Refactoring the changelog page to grab the data for the requested Data Set Version
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetChangelogPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetChangelogPage.test.tsx
  src/explore-education-statistics-admin/src/queries/apiDataSetVersionQueries.ts
  src/explore-education-statistics-admin/src/services/apiDataSetService.ts
  src/explore-education-statistics-admin/src/services/apiDataSetVersionService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Ensure the Function and the IOptions are resolving even when no config is declared
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/ProgramTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Options/AzureSearchOptions.cs
Due: azure-pipelines.dfe.yml

Code tidy
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/AzureSearchIndexerClientWrapper.cs
Due: azure-pipelines.dfe.yml

Renames
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/CreateSearchableReleaseDocumentInAzureStorageFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/Dtos/SearchableDocumentCreatedMessageDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
Due: azure-pipelines.dfe.yml

Remove attempt to detect empty/default value of deserialised object
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ObjectExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/EventGridEventHandler.cs
Due: azure-pipelines.dfe.yml

Comment out the Azure Search health check temporarily until the infrastructure is there.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines.dfe.yml

EES-5881 - giving VNet access to file share
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
  infrastructure/templates/screener/application/screenerContainerisedFunctionApp.bicep
Due: none

EES-5825 - added Analytics Function App build to the main build pipeline, and associated YAML infra and deploy pipeline.
  azure-pipelines-main.yml
  infrastructure/common/ci/tasks/deploy-function-app.yml
  infrastructure/templates/analytics/ci/azure-pipelines.yml
  infrastructure/templates/analytics/ci/jobs/deploy-analytics-function-app.yml
  infrastructure/templates/analytics/ci/jobs/deploy-infrastructure.yml
  infrastructure/templates/analytics/ci/stages/deploy.yml
  infrastructure/templates/analytics/ci/tasks/deploy-bicep.yml
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5825 - added Bicep and YAML pipeline for deploying analytics infrastructure. Moved the management of the Analytics storage account to the Analytics pipeline rather than the Public API pipeline
  infrastructure/common/ci/tasks/deploy-function-app.yml
  infrastructure/templates/analytics/application/analyticsApplicationInsights.bicep
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/analytics/application/analyticsStorage.bicep
  infrastructure/templates/analytics/ci/azure-pipelines.yml
  infrastructure/templates/analytics/ci/jobs/deploy-analytics-function-app.yml
  infrastructure/templates/analytics/ci/jobs/deploy-infrastructure.yml
  infrastructure/templates/analytics/ci/stages/deploy.yml
  infrastructure/templates/analytics/main.bicep
  infrastructure/templates/analytics/types.bicep
  infrastructure/templates/common/abbreviations.bicep
  infrastructure/templates/common/components/functionApp.bicep
  infrastructure/templates/common/types.bicep
  infrastructure/templates/public-api/application/public-api/publicApiApp.bicep
  infrastructure/templates/public-api/application/public-api/publicApiDataProcessor.bicep
  infrastructure/templates/public-api/application/shared/containerAppEnvironment.bicep
  infrastructure/templates/public-api/main.bicep
  infrastructure/templates/public-api/types.bicep
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Options/AnalyticsOptions.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolver.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5825 - added param files for Bicep. Adding cron schedule to Analytics Function App.
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/analytics/main.bicep
  infrastructure/templates/analytics/parameters/main-dev.bicepparam
  infrastructure/templates/analytics/parameters/main-preprod.bicepparam
  infrastructure/templates/analytics/parameters/main-prod.bicepparam
  infrastructure/templates/analytics/parameters/main-test.bicepparam
Due: none

EEES-5825 - adding outbound subnet for Analytics Function App.
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/analytics/main.bicep
  infrastructure/templates/analytics/types.bicep
  infrastructure/templates/template.json
Due: none

EES-5825 - made ANalytics storage account visible from selected IPs
  infrastructure/templates/analytics/application/analyticsStorage.bicep
Due: none

EES-5825 - added health check function to Analytics project
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/analytics/main.bicep
  infrastructure/templates/analytics/parameters/main-dev.bicepparam
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Functions/HealthCheckFunctions.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.csproj
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Interfaces/IAnalyticsPathResolver.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5825 - removed Storage Service Endpoint from Function App subnet as it communicates with all Storage Accoutns via private endpoints
  infrastructure/templates/template.json
Due: none

EES-5960 Fix focus restoration when 'edit publication' modal is closed
  src/explore-education-statistics-admin/src/pages/publication/components/PublicationDetailsForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5825 - added Analytics Function App subnet service endpoint back in after causing failures to perform initial creation of function app
  infrastructure/templates/template.json
Due: none

EES-5825 - correcting cron expressions
  infrastructure/templates/analytics/main.bicep
  infrastructure/templates/analytics/parameters/main-dev.bicepparam
Due: none

Add a 'wait' argument to 'waits until modal is visible' keyword
  tests/robot-tests/tests/admin/bau/delete_subject.robot
  tests/robot-tests/tests/libs/admin-common.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5825 - corrected app insights instance for analytics
  infrastructure/templates/analytics/application/analyticsApplicationInsights.bicep
Due: none

EES-5825 - corrected app insights instance for analytics
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
Due: none

EES-5734 resolve comments
  src/explore-education-statistics-common/src/charts/components/ChartExportButton.tsx
  src/explore-education-statistics-common/src/components/ChartsToPNG.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

PR feedback - change setTimeout to useEffect
  src/explore-education-statistics-admin/src/pages/publication/components/PublicationDetailsForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Remove unused import
  src/explore-education-statistics-admin/src/queries/releaseDataFileQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5734 resolve styling comments
  src/explore-education-statistics-common/src/charts/components/ChartExportButton.module.scss
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Move EventGridPublisherClient to Common
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/EventGrid/EventGridPublisherClientBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/EventGrid/EventGridPublisherClientFactoryBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/EventGrid/MockResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/GovUk.Education.ExploreEducationStatistics.Common.csproj
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/EventGridPublisherClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/EventGridPublisherClientWrapper.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/IEventGridPublisherClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/IEventGridPublisherClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/EventRaiserServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/GovUk.Education.ExploreEducationStatistics.Publisher.csproj
  src/GovUk.Education.ExploreEducationStatistics.Publisher/PublisherHostBuilderExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventRaiserService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

code tidy
  src/GovUk.Education.ExploreEducationStatistics.Common/GovUk.Education.ExploreEducationStatistics.Common.csproj
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Remove zipfile object persistance/import queue, split archive extraction from validation.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IFileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
