Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

EES-7596 - updated importer SKU configuration to draw from Function App-specific plans.
  infrastructure/templates/bicep-main-infrastructure-release/configuration/importer-configuration.bicep
  infrastructure/templates/common/components/app-service-plan/types.bicep
Due: none

EES-7596 - reverting change to non-elastic plan scales
  infrastructure/templates/common/components/function-app/function-app.bicep
Due: none

EES-7596 - stop setting elastic SKU-specific settings in non-elastic Function Apps.
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
Due: none

EES-7596 - passing subnet id rather than name to function app template.
  infrastructure/templates/importer/main.bicep
Due: none

EES-7596 - updated Admin to use the new Importer storage account for posting queue messages.
  infrastructure/templates/admin/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/resource-names.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/public-site/main.bicep
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.Development.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7431 - creating secret with correct vault uri.
  infrastructure/templates/common/components/function-app/function-app.bicep
Due: none

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-XXXX Warn when tool versions drift from what the repo pins
  useful-scripts/dashboard/functionHostHealth.ts
  useful-scripts/dashboard/public/app.js
  useful-scripts/dashboard/public/index.html
  useful-scripts/dashboard/public/style.css
  useful-scripts/dashboard/server.ts
  useful-scripts/dashboard/toolVersions.test.ts
  useful-scripts/dashboard/toolVersions.ts
  useful-scripts/dashboard/utils/versions.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7559 Remove UnmappedFilterGroup and UnmappedFilterItem
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataSetMapping.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7370 Clean up after adding Filters to DataSetMapping
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Bau/CreateFilterMappingsForPreexsitingDataSetMappingsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataSetMapping.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7544 Add live release link to publication dashboard
  src/explore-education-statistics-admin/src/pages/publication/components/PublicationPublishedReleasesTable.tsx
  src/explore-education-statistics-admin/src/pages/publication/components/__tests__/PublicationPublishedReleases.test.tsx
  tests/robot-tests/tests/libs/tables-common.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7367 - remove outdated test and add a second case to the correct test.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Bau/StripReleaseFileSummaryHtmlControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/DataSetFilesControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7367 Strip html from release file data guidance (#7321)
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Bau/StripReleaseFileSummaryHtmlControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Releases/ReleaseDataContentServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Bau/StripReleaseFileSummaryHtmlController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Releases/Dtos/ReleaseDataContentDtos.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/DataSetFilesControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/DataGuidanceFileWriterTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/Releases/ReleaseDataContentServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/DataGuidanceFileWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/DataSetFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Releases/Dtos/ReleaseDataContentDtos.cs
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetDetailsPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ReleaseDataGuidanceSection.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ReleaseDataGuidanceSection.test.tsx
  src/explore-education-statistics-common/src/components/PlainTextContent.tsx
  src/explore-education-statistics-common/src/modules/find-statistics/components/ReleaseDataListItem.tsx
  src/explore-education-statistics-common/src/modules/release/components/ReleaseDataGuidanceDataFile.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/DataSetDetailsList.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/DataSetStep.test.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/DataSetFilePage.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/DataSetFileSummary.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-XXXX Show each dashboard issue on its own banner row
  useful-scripts/dashboard/public/app.js
  useful-scripts/dashboard/public/style.css
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7642 Add PublishingOrganisations to ReleaseSearchableDocumentDto returned by Content API
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Builders/Releases/ReleaseSearchableDocumentDtoBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/Releases/ReleaseSearchableDocumentsServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Releases/Dtos/ReleaseSearchableDocumentDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Releases/ReleaseSearchableDocumentsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7642 Use AsSplitQuery in ReleaseSearchableDocumentsService.GetReleaseVersionWithContent
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Releases/ReleaseSearchableDocumentsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7631 Add publishingOrganisationIds and publishingOrganisationTitles fields
  infrastructure/templates/search/application/indexes/search/index-1.json
Due: none

EES-7258 Expose CsvOnly geographic levels on the frontend
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Statistics/FootnoteControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Releases/ReleaseDataContentServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Releases/Dtos/ReleaseDataContentDtos.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Builders/Releases/ReleaseDataContentDtoBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/DataSetFilesControllerCachingTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/DataSetFilesControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/DataGuidanceFileWriterTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/DataSetFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/Releases/ReleaseDataContentServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/DataSetFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Releases/Dtos/ReleaseDataContentDtos.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.ViewModels/DataSetFileMetaViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Api.Tests/Controllers/PublicationControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Services.Tests/ReleaseServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Services/ReleaseService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.ViewModels/SubjectViewModel.cs
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleasePageTabExploreData.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/__tests__/ReleasePageTabExploreData.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ReleaseDataGuidanceSection.test.tsx
  src/explore-education-statistics-common/src/modules/release/components/ReleaseDataGuidanceDataFile.tsx
  src/explore-education-statistics-common/src/modules/release/components/__tests__/ReleaseDataSetFileSummary.test.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/DataSetDetailsList.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/DataSetStep.test.tsx
  src/explore-education-statistics-common/src/services/publicationService.ts
  src/explore-education-statistics-common/src/services/tableBuilderService.ts
  src/explore-education-statistics-frontend/src/modules/data-catalogue/__data__/testDataSets.ts
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/DataSetFileDetails.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/DataSetFileSummary.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/__tests__/DataSetFileDetails.test.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/__tests__/DataSetSummary.test.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/ReleaseExploreDataPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/__tests__/ReleaseExploreDataPage.test.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/__tests__/__data__/testReleaseData.ts
  src/explore-education-statistics-frontend/src/services/dataSetFileService.ts
  tests/test-data/files/small-files/all_geographies_messy.csv
  tests/test-data/files/small-files/all_geographies_messy.meta.csv
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7258 Changes in response to PR comments
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleasePageTabExploreData.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/ReleaseExploreDataPage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7531 - Standardize and rename Hive Slack alert configurations to "secondarySlackAlertsChannels".
  infrastructure/templates/core/application/alerts/README.md
  infrastructure/templates/core/application/alerts/alerts-logic-app-definition.json
  infrastructure/templates/core/application/alerts/alerts-logic-app.bicep
  infrastructure/templates/core/application/alerts/alerts.bicep
  infrastructure/templates/core/main.bicep
  infrastructure/templates/core/parameters/main-prod.bicepparam
Due: none

EES-7632 Add PublishingOrganisationIds and PublishingOrganisationTitles to ReleaseSearchableDocument metadata
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ReleaseSearchableDocumentBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Extensions/ReleaseSearchableDocumentExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSearchViewModelDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSearchableDocumentDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSearchableDocument.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ReleaseSearchableDocumentExtensions.cs
Due: azure-pipelines.dfe.yml

WIP
  infrastructure/templates/core/application/alerts/README.md
  infrastructure/templates/core/application/alerts/alerts-logic-app-definition.json
  infrastructure/templates/core/parameters/main-dev.bicepparam
Due: none

EES-7531 - POC: source all Slack alert config from a single Key Vault secret
  infrastructure/templates/core/application/alerts/README.md
  infrastructure/templates/core/application/alerts/alerts-logic-app-definition.json
  infrastructure/templates/core/application/alerts/alerts-logic-app.bicep
  infrastructure/templates/core/application/alerts/alerts.bicep
  infrastructure/templates/core/main.bicep
  infrastructure/templates/core/parameters/main-dev.bicepparam
  infrastructure/templates/core/parameters/main-preprod.bicepparam
  infrastructure/templates/core/parameters/main-prod.bicepparam
  infrastructure/templates/core/parameters/main-test.bicepparam
Due: none

EES-7634 Add publishingOrganisationIds and publishingOrganisationTitles fields
  infrastructure/templates/search/application/indexes/nl-search/nl-search-dataset-index.json
Due: none

EES-7647 Update get_data_block_responses.py
  useful-scripts/get_data_block_responses/get_data_block_responses.py
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix Published date formatting and update test case. Published should be in 24-hour clock format.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Extensions/ReleaseSearchableDocumentExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ReleaseSearchableDocumentExtensions.cs
Due: azure-pipelines.dfe.yml

EES-7632 Update ReleaseSearchableDocument to add OrderedEquality annotation for PublishingOrganisations, and add unit tests to verify equality.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Domain/ReleaseSearchableDocumentTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSearchableDocument.cs
Due: azure-pipelines.dfe.yml

EES-7632 Handle JsonException in ContentApiClient
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
Due: azure-pipelines.dfe.yml

EES-7531 correct readme
  infrastructure/templates/core/application/alerts/README.md
Due: none

EES-7595 - migrated Publisher Function App out of the ARM template and into Bicep. Removed the function app existence checks from the base function-app.bicep template.
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/bicep-main-infrastructure-release/configuration/importer-configuration.bicep
  infrastructure/templates/bicep-main-infrastructure-release/configuration/publisher-configuration.bicep
  infrastructure/templates/bicep-main-infrastructure-release/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-dev.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-preprod.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-test.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/resource-names.bicep
  infrastructure/templates/common/components/app-service-plan/function-app-service-plan.bicep
  infrastructure/templates/common/components/app-service-plan/types.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/common/types.bicep
  infrastructure/templates/importer/main.bicep
  infrastructure/templates/publisher/main.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
  infrastructure/templates/template.json
Due: none

EES-7400: Update data block comparison query.
  useful-scripts/get_data_block_responses/get_data_block_responses.py
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7400: Update data block comparison query. (#7348)
  useful-scripts/get_data_block_responses/get_data_block_responses.py
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7595 - removing Publisher ARM parameters from environment param files.
  infrastructure/parameters/dev.parameters.json
  infrastructure/parameters/pre-prod.parameters.json
  infrastructure/parameters/prod.parameters.json
  infrastructure/parameters/test.parameters.json
  infrastructure/templates/template.json
Due: none

EES-7595 - removed old duplicate config types from top-level types file.
  infrastructure/templates/bicep-main-infrastructure-release/types.bicep
Due: none

EES-7293 - fixing nav routes test
  src/explore-education-statistics-admin/src/hooks/__tests__/useNavRoutes.test.tsx
  src/explore-education-statistics-admin/src/hooks/useCurrentRouteTitle.ts
  src/explore-education-statistics-admin/src/hooks/useNavRoutes.ts
  src/explore-education-statistics-admin/src/routes/types.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml
