Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

Add min=0 html attribute to decimal places number input
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/ChartAxisConfiguration.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

BeginScope is non-nullable
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/LoggerMockBuilder.cs
Due: azure-pipelines.dfe.yml

Response is not used. Remove.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RefreshSearchableDocument/RefreshSearchableDocumentFunctionTests.cs
Due: azure-pipelines.dfe.yml

String is never null, therefore remove null coalese.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ReleaseSearchableDocumentExtensions.cs
Due: azure-pipelines.dfe.yml

Response is never null - remove null coalese.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/FullReset/FullResetFunction.cs
Due: azure-pipelines.dfe.yml

Fixed other values that cannot be null.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RefreshSearchableDocument/RefreshSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Dtos/HealthCheckResponse.cs
Due: azure-pipelines.dfe.yml

Unused cancellation token - discard parameters.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnPublicationChanged/OnPublicationChangedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnPublicationLatestPublishedReleaseReordered/OnPublicationLatestPublishedReleaseReorderedFunction.cs
Due: azure-pipelines.dfe.yml

Add comment as to why seemingly unused properties are actually part of a logging test. Add missing destructure tag `@`.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/LoggingHealthCheck.cs
Due: azure-pipelines.dfe.yml

wip further response model updates.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetUploadRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetUploadRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileSummaryList.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFilesTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFilesTableRow.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataSetUploadModalConfirm.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DeleteDataFileModal.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ImporterStatus.tsx
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add button to cancel replacement for failed replacements too
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFilesReplacementTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFilesReplacementTableRow.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ReleaseDataUploadsSection.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFilesReplacementTableRow.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6178 Add alert rules to Event Grid custom topics
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/public-api/components/alerts/resourceMetrics.bicep
  infrastructure/templates/search/application/eventMessaging.bicep
Due: none

EES-6178 Add additional alert rules
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/search/application/eventMessaging.bicep
Due: none

EES-6178 Simplify custom topic alerts param in eventGridMessaging.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/search/application/eventMessaging.bicep
Due: none

EES-6178 Add support for custom topic dimensions in alert rules
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/public-api/components/alerts/resourceMetrics.bicep
Due: none

EES-6178 Abbreviate module names due to 64 character length limit
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/search/components/searchService.bicep
Due: none

EES-6178 Monitor alerts for Event Grid Topics (#5992)
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/public-api/components/alerts/resourceMetrics.bicep
  infrastructure/templates/search/application/eventMessaging.bicep
  infrastructure/templates/search/components/searchService.bicep
Due: none

Remove test.only and lint issues fix
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/__tests__/ChartAxisConfiguration.test.tsx
  src/explore-education-statistics-frontend/src/components/Page.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Discard unused `root` parameter
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/DataSetValidators.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add flex wrap and gap to 'Not latest release' tag and link
  src/explore-education-statistics-common/src/styles/utils/_flex.scss
  src/explore-education-statistics-frontend/src/modules/table-tool/components/TableToolFinalStep.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6096 - adding missing tests for nalyticsWriteTopLevelCallsStrategy.
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWriteTopLevelCallsStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWriteTopLevelCallsStrategyTests.ReportTests.CallWrittenSuccessfully_WithCoreTopLevelDetails.snap
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWriteTopLevelCallsStrategyTests.ReportTests.CallWrittenSuccessfully_WithParameters.snap
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6126 - FE Changes - Transforming everywhere that's using the role `Allower` to still display the role as `Approver` in the UI
  src/explore-education-statistics-admin/src/pages/publication/PublicationTeamAccessPage.tsx
  src/explore-education-statistics-admin/src/pages/publication/__tests__/PublicationTeamAccessPage.test.tsx
  src/explore-education-statistics-admin/src/pages/users/InvitedUsersPage.tsx
  src/explore-education-statistics-admin/src/pages/users/UserInvitePage.tsx
  src/explore-education-statistics-admin/src/pages/users/__data__/testUserData.ts
  src/explore-education-statistics-admin/src/pages/users/__tests__/UserInvitePage.test.tsx
  src/explore-education-statistics-admin/src/pages/users/components/InviteUserPublicationRoleForm.tsx
  src/explore-education-statistics-admin/src/pages/users/components/PublicationAccessForm.tsx
  src/explore-education-statistics-admin/src/pages/users/components/__tests__/PublicationAccessForm.test.tsx
  src/explore-education-statistics-admin/src/services/types/PublicationRole.ts
  src/explore-education-statistics-admin/src/services/userService.ts
  src/explore-education-statistics-admin/src/utils/publicationRoleDisplayName.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6126 - BE Changes - Adding the migration to change all existing Publication Roles and Publication Role Invites with the role `Approver` to `Allower`
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250603105107_EES6126-MigratePublicationApproverRoleToAllower.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250603105107_EES6126-MigratePublicationApproverRoleToAllower.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6126 - FE - Fixing robot tests
  tests/robot-tests/tests/admin/analyst/edit_and_approve_release_as_publication_approver.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6097 - capturing Public API "List a Publications data sets" call for analytics.
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Analytics/AnalyticsTestUtils.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/PublicationsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6007 - refactored Content APIs AnalyticsPathResolver hierarchy to be in line with Public APIs.
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/Services/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsPathResolverBase.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/LocalAnalyticsPathResolver.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6007 - moving CommonAnalyticsWriteStrategyWorkflow to common Analytics project to reuse in Content API project.
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/GovUk.Education.ExploreEducationStatistics.Analytics.Common.csproj
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Strategies/CommonAnalyticsWriteStrategyWorkflow.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWriteDataSetLevelCallsStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWriteDataSetVersionLevelCallsStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWritePublicApiQueryStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWritePublicationCallsStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWriteTopLevelCallsStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWriteDataSetCallsStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWriteDataSetVersionCallsStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWritePublicApiQueryStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWritePublicationCallsStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWriteTopLevelCallsStrategy.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6007 - refactoring Content APIs Write Strategies to use common workflow.
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/StrategiesTests/AnalyticsWritePublicCsvDownloadStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/StrategiesTests/AnalyticsWritePublicZipDownloadStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWritePublicCsvDownloadStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWritePublicZipDownloadStrategy.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6007 - adding common workflow to Content API dependency injection
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5816 Changes in response to PR comments
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Bau/DataSetFileMetaMigrationController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250609151756_EES5816_AddNumDataFileRowsToDataSetFileMeta.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250609151756_EES5816_AddNumDataFileRowsToDataSetFileMeta.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/DataSetFilesControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/Fixtures/DataSetFileMetaGeneratorExtensions.cs
  src/explore-education-statistics-frontend/src/services/dataSetFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6127 Adding the new Publication Roles `Approver` and `Drafter` to the `PublicationRole` enum on the BE
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/PublicationRole.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6097 - switched to using explicit Task cast
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix link on homepage
  src/explore-education-statistics-frontend/src/pages/index.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6007 - updated JSON filename syntax for Content API CSV download to include SubjectId again after mistakenly dropped.
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWritePublicCsvDownloadStrategy.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fixed up the tests as per Jack's original intent
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleasesControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Removed unused variables.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleasesControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix cut n paste bug
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleasesControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6135 Add spacing above horizontal bar chart
  src/explore-education-statistics-common/src/modules/charts/components/HorizontalBarBlock.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Perform a comparison of the published releases and the list of blobs in Azure storage
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/BlobNameListerMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseSummaryRetrieverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/SearchableDocumentCheckerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSummaryDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSummary.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/SearchDocumentCheckFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/BlobNameLister.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseSummaryRetriever.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseSummaryViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/Report.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/SearchableDocumentChecker.cs
Due: azure-pipelines.dfe.yml
