Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

EES-6105 Changes in response to PR comments
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/PublicationService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6105 Raise an event in Admin when publications are archived (#5848)
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/PublicationCacheServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/AdminEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTestsTheoryData.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Utils/PublicationArchiveStatusTransitionResolverTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Events/PublicationArchivedEvent.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAdminEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/PublicationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Utils/PublicationArchiveStatusTransitionResolver.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6106 Raise an event in Admin when archived publications are restored
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/AdminEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTestsTheoryData.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Events/PublicationRestoredEvent.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAdminEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/PublicationService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6106 Changes in response to PR comments
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6106 Raise an event in Admin when archived publications are restored (#5849)
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/AdminEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTestsTheoryData.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Events/PublicationRestoredEvent.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAdminEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/PublicationService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

In preparation for removing searchable documents when there has been a reorder, introduced a new Azure function that removes specified searchable documents.
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/types.bicep
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/SearchableDocumentRemoverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RemoveSearchableDocument/RemoveSearchableDocumentTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/SearchableDocumentRemoverTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RemoveSearchableDocument/Dto/RemoveSearchableDocumentDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RemoveSearchableDocument/RemoveSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/ISearchableDocumentRemover.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/RemoveSearchableDocumentRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/RemoveSearchableDocumentResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/SearchableDocumentCreator.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/SearchableDocumentRemover.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/local.settings.json
Due: azure-pipelines.dfe.yml

EES-6066 Changes in response to PR comments
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Fixtures/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWritePublicZipDownloadStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWriteStrategyBase.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/Interfaces/IAnalyticsWriteStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWritePublicApiQueryStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWriteStrategyBase.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/Interfaces/IAnalyticsWriteStrategy.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

On release reorder, remove the old release version searchable document
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationLatestPublishedReleaseVersionChanged/OnPublicationLatestPublishedReleaseReorderedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RemoveSearchableDocument/RemoveSearchableDocumentTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/TheoryDatas/Empty.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/GuidExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnPublicationLatestPublishedReleaseReordered/OnPublicationLatestPublishedReleaseReorderedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnPublicationLatestPublishedReleaseReordered/OnPublicationLatestPublishedReleaseReorderedOutput.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RemoveSearchableDocument/RemoveSearchableDocumentFunction.cs
Due: azure-pipelines.dfe.yml

EES-5977 Track all zip downloads from Data catalogue page
  src/GovUk.Education.ExploreEducationStatistics.Common/Utils/FromPageEnum.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Controllers/ReleaseFileController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/ReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Requests/CaptureRequests.cs
  src/explore-education-statistics-common/src/services/downloadService.ts
  src/explore-education-statistics-frontend/src/modules/data-catalogue/DataCataloguePage.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/DataSetFilePage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/PublicationReleasePage.tsx
  src/explore-education-statistics-frontend/src/services/downloadService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Improve tests based on feedback.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationLatestPublishedReleaseVersionChanged/OnPublicationLatestPublishedReleaseReorderedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/TheoryDataHelpers/BlankValues.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/TheoryDatas/Empty.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnPublicationLatestPublishedReleaseReordered/OnPublicationLatestPublishedReleaseReorderedOutput.cs
Due: azure-pipelines.dfe.yml

Use the new Blank values in the other tests
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationArchived/OnPublicationArchivedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationChanged/OnReleaseSlugChangedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationRestored/OnPublicationRestoredFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnReleaseSlugChanged/OnReleaseSlugChangedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnReleaseVersionPublished/OnReleaseVersionPublishedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RefreshSearchableDocument/RefreshSearchableDocumentFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RemoveSearchableDocument/RemoveSearchableDocumentTests.cs
Due: azure-pipelines.dfe.yml

PR feedback tweaks
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ApiDataSetVersionPlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/ValidationProblemViewModelTestExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/CreateNextDataSetVersionMappingsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Helpers/SemVersionParser.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionService.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementPlan.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6122 Set the following fields to be not retrievable: metadata_storage_size, metadata_storage_content_md5, and metadata_title
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

EES-6122 Set the following fields to be sortable: published, title
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

Make the feature flag configuration not required
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6084 - added strategy for consuming Public API "Get meta" calls
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests.csproj
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/GetMeta/Request1.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/GetMeta/Request2NoPreviewToken.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiGetMetaProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiGetMetaProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicZipDownloadsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Utils.Tests/GovUk.Education.ExploreEducationStatistics.Public.Data.Utils.Tests.csproj
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6084 - added tests around other DataSetVersion Public API calls
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetCalls/GetDataSetSummary1.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetCalls/GetDataSetSummary2NoPreviewToken.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetVersionCalls/GetDataSetVersionAsCsv.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetVersionCalls/GetDataSetVersionChanges.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetVersionCalls/GetDataSetVersionMetadata1.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetVersionCalls/GetDataSetVersionMetadata2NoPreviewToken.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetVersionCalls/GetDataSetVersionSummary.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetVersionCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiGetMetaProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetVersionCallsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Controllers/DataSetVersionsController.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6084 - creating top-level PublicApi resources folder under which different Public API JSON file types will live
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/Queries/Query1Request.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/Queries/Query1RequestMinorVersionUpdate.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/Queries/Query2Request1.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/Queries/Query2Request2.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/Queries/Query2Request3.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiQueriesProcessorTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5741 fix filters form initial hierarchy values
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix failing tests and improve OnSuccess conditional logic
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/CreateNextDataSetVersionMappingsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/CreateNextDataSetVersionMappingsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6084 - removing data set-level analytics capture from this PR
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetCalls/GetDataSetSummary1.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetCalls/GetDataSetSummary2NoPreviewToken.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetVersionCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetVersionCallsProcessor.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6124 Add GovUk.Education.ExploreEducationStatistics.Events.Tests to the Events solution folder
  src/GovUk.Education.ExploreEducationStatistics.sln
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6124 Fix unit tests
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/AdminEventRaiserTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6123 Rename theme to themeTitle and add publicationId and themeId to ReleaseSearchViewModel used in the response of ReleaseController.GetLatestReleaseAsSearchableDocument
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Builders/ThemeViewModelBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/ReleaseControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/ThemeControllerCachingTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/PublicationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/ThemeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.ViewModels/ReleaseSearchViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.ViewModels/ThemeViewModel.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6123 Set the releaseVersionId field to be filterable
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

EES-6123 Rename theme to themeTitle and add publicationId, releaseId and themeId in searchable document blob metadata
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ReleaseSearchableDocumentBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Extensions/ReleaseSearchableDocumentExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSearchViewModelDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSearchViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ReleaseSearchableDocumentExtensions.cs
Due: azure-pipelines.dfe.yml

EES-6123 Add new fields publicationId, releaseId, themeId. Rename theme to themeTitle.
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

EES-6084 - refactored PublicZipDownloadsProcessor to use common workflow
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetVersionCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiQueriesProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicZipDownloadsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Interfaces/ICommonWorkflowRequestFileProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetVersionCallsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiQueriesProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicZipDownloadsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Workflow/ProcessRequestFilesWorkflow.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
  tests/robot-tests/tests/snapshots/methodologies_snapshot.json
  tests/robot-tests/tests/snapshots/table_tool_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 search setup
  src/explore-education-statistics-common/src/components/form/FormCheckbox.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 setup jest tests
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/TableToolWizard.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/FiltersForm.test.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/TableToolPage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 refined search UX
  src/explore-education-statistics-common/src/components/form/FormSearchBar.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP Add layout changes for find stats azure search when query param present
  pnpm-lock.yaml
  src/explore-education-statistics-common/src/styles/utils/_flex.scss
  src/explore-education-statistics-frontend/package.json
  src/explore-education-statistics-frontend/src/components/FilterResetButtonAzureSearch.module.scss
  src/explore-education-statistics-frontend/src/components/FilterResetButtonAzureSearch.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/FiltersAzureSearch.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP processing search results in query fn
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP separate query method for azure
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/utils/createPublicationListRequest.ts
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Start rendering results, fix pagination query options
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Refactoring current solution
  src/explore-education-statistics-common/src/services/publicationService.ts
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageCurrent.tsx
  src/explore-education-statistics-frontend/src/queries/azurePublicationQueries.ts
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Render highlighted content in results and add in faceted filtering
  src/explore-education-statistics-common/src/services/publicationService.ts
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/PublicationSummary.module.scss
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/PublicationSummary.tsx
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml
