Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

EES-7382 - revert changes to `DoListCandidates` as change was redundant and wrong as highlighted by PR Feedback.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetCandidatesControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetCandidateService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7382 - update jest test to be more accurate based on test data.
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ApiDataSetCreateModal.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7396 Allow deploying the NL Search Function app infrastructure to other environments
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/parameters/main-dev.bicepparam
Due: none

EES-7396 Allow deploying the NL Search Function app infrastructure to other environments (#7205)
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/parameters/main-dev.bicepparam
Due: none

EES-7368: Add multiple theme deletion endpoint.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ThemeControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ThemeController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IThemeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ThemeService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7398 Update TT search result interfaces (#7201)
  src/explore-education-statistics-frontend/src/modules/table-tool/TableToolSearchPage.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/__tests__/TableToolSearchPage.test.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/components/TableToolSearchFinalResult.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/components/__tests__/__data__/tableData.ts
  src/explore-education-statistics-frontend/src/modules/table-tool/utils/createMockSseStream.ts
  src/explore-education-statistics-frontend/src/services/tableToolSearchService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7382 Fix creating multiple API data sets (#7193)
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetCandidatesControllerTests.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/ApiDataSetCreateModal.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ApiDataSetCreateProcessing.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ReleaseApiDataSetsSection.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ApiDataSetCreateModal.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ReleaseApiDataSetsSection.test.tsx
  tests/robot-tests/tests/libs/public-api-common.robot
  tests/robot-tests/tests/public_api/public_api_cancel_and_removal.robot
  tests/robot-tests/tests/public_api/public_api_major_auto_changes.robot
  tests/robot-tests/tests/public_api/public_api_minor_manual_changes.robot
  tests/robot-tests/tests/public_api/public_api_patch_replacement.robot
  tests/robot-tests/tests/public_api/public_api_patch_replacement_public.robot
  tests/robot-tests/tests/public_api/public_api_preview_token.robot
  tests/robot-tests/tests/public_api/public_api_restricted.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7368: Refactor theme deletion to reduce processing overhead, minor code style changes, adjust environment detection. (WIP in-memory DB transaction support issue)
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ThemeController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IThemeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ThemeService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7406 Render final table now client-side only. SSR returns a lightweight “Loading table” state instead of rendering thousands of rows.
  src/explore-education-statistics-frontend/src/modules/table-tool/TableToolPage.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/__tests__/TableToolPage.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6751 Increase thresholds for alerts `s101p01PublicAppServiceResponseTime` and `s101p01-ees-afd-response-time`
  infrastructure/templates/core/parameters/main-prod.bicepparam
  infrastructure/templates/template.json
Due: none

EES-7395 Allow access to search data prototype on prod
  src/explore-education-statistics-frontend/src/modules/search-data/SearchDataPage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7395 remove prototype routes from sitemap
  src/explore-education-statistics-frontend/next-sitemap.config.js
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6751 Increase thresholds for alerts `s101p01PublicAppServiceResponseTime` and `s101p01-ees-afd-response-time` (#7209)
  infrastructure/templates/core/parameters/main-prod.bicepparam
  infrastructure/templates/template.json
Due: none

EES-7395 hotfix enable combined search prototype on prod (#7211)
  src/explore-education-statistics-frontend/next-sitemap.config.js
  src/explore-education-statistics-frontend/src/modules/search-data/SearchDataPage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7395 Change public site frontend infrastructure to set AZURE_DATASETS_SEARCH_INDEX value for all environments
  infrastructure/parameters/dev.parameters.json
  infrastructure/templates/template.json
Due: none

EES-7317 EES-7396 Change public site frontend infrastructure to set AZURE_TABLE_TOOL_SEARCH_ENDPOINT value for all environments
  infrastructure/parameters/dev.parameters.json
  infrastructure/templates/template.json
Due: none

Merge pull request #7216 from dfe-analytical-services/EES-7395-allow-combined-search-prototype-on-prod
  infrastructure/parameters/dev.parameters.json
  infrastructure/templates/template.json
Due: none

EES-7368: Replace transaction-related tests with alternative SQLite context.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/GovUk.Education.ExploreEducationStatistics.Admin.Tests.csproj
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Fixtures/SqliteContentDbContextFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ThemeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/Fixtures/ReleaseVersionGeneratorExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7379 - adding auditing and diagnostic settings to Azure SQL servers and databases
  infrastructure/parameters/dev.parameters.json
  infrastructure/templates/template.json
Due: none

EES-7379 - responding to PR comments. Enabling db auditing for all environments. Disabling database-level auditing for master dbs. Increasing blob retention days for audit files.
  infrastructure/parameters/dev.parameters.json
  infrastructure/templates/template.json
Due: none

EES-7341 - removing old healthcheck endpoint now that no environment is using it.
  src/explore-education-statistics-frontend/src/pages/api/health.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7399 - Add ability to unfinalise a patch API data set version.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetCandidatesControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetVersionMappingControllerIndicatorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetVersionMappingControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Public.Data/DataSetVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IDataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IProcessorClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/ProcessorClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Fixture/OptimisedPublicDataProcessorCollectionFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/UnfinaliseDataSetVersionFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/UnfinaliseDataSetVersionFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionService.cs
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetDetailsPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetDetailsPage.test.tsx
  src/explore-education-statistics-admin/src/services/apiDataSetVersionService.ts
  tests/robot-tests/tests/public_api/public_api_patch_replacement.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7399 - Make mapping readonly once data set is finalised.
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetFiltersMappingPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetIndicatorsMappingPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetLocationsMappingPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetFiltersMappingPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetIndicatorsMappingPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetLocationsMappingPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ApiDataSetAutoMappedTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ApiDataSetMappableTable.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7399 - Fix frontend formatting
  src/explore-education-statistics-admin/src/services/apiDataSetVersionService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6901 Upgrade target framework to .NET 10 and update package versions
  src/Directory.Build.props
  src/Directory.Packages.props
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6901 Update .NET SDK version in README
  README.md
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6901 Change Azure Functions in Bicep infrastructure to .NET 10
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/public-api/application/public-api/publicApiDataProcessor.bicep
  infrastructure/templates/public-api/components/durableFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
Due: none

EES-6901 Change Public API Dockerfile to use .NET 10.0 base image
  docker/public-api/Dockerfile
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6901 Update .NET SDK version to 10.0.302
  global.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6901 Update pipelines to use .NET SDK version 10.0.x
  azure-pipelines-main.yml
  infrastructure/templates/search/ci/azure-pipelines-build.yml
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6901 Remove unused package Microsoft.Extensions.DependencyInjection from Search.FunctionApp project.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.csproj
Due: azure-pipelines.dfe.yml

EES-6901 Add package source mapping in nuget.config file to resolve warning NU1507.
  src/nuget.config
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6901 Update App Services and Function App's running Windows to use .NET 10.0 stack and set missing stack in Deployment slots.
  infrastructure/templates/template.json
Due: none

EES-6901 Remove unnecessary nodeVersion property from public site config which is a Linux container app.
  infrastructure/templates/template.json
Due: none

EES-6901 Change EnumToEnumValueConverter to use primary constructor
  src/GovUk.Education.ExploreEducationStatistics.Common/Converters/EnumToEnumValueConverter.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6901 Fix error 'Only a single database provider can be registered in a service provider'
  src/GovUk.Education.ExploreEducationStatistics.Common.IntegrationTests/OptimisedServiceAndConfigModifications.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
