Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

Add error handling for major version updates in patch API datasets
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetDetailsPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetDetailsPage.test.tsx
  src/explore-education-statistics-admin/src/services/apiDataSetService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Update mapping status tags to handle rejected errors
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetDetailsPage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

DataSetVersionMappingService.cs to use SingleOrDefault as opposed to FirstOrDefault when fetching source data set version
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionMappingService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Update API version of Microsoft.Search/searchServices to 2025-02-01-preview
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/components/searchService.bicep
  infrastructure/templates/search/components/searchServiceConfig.bicep
  infrastructure/templates/search/components/searchServiceRoleAssignment.bicep
Due: none

Move the current healthcheck to a new ull health check so that we can still test config and security with it. And reduce the default heathcheck re you alive to a simple returning of OK result.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/HealthChecks/HealthCheckFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/HealthCheckFunction.cs
Due: azure-pipelines.dfe.yml

Change searchService.bicep and searchDocsFunction.bicep to use new search service endpoint property
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/components/searchService.bicep
  infrastructure/templates/search/main.bicep
Due: none

Since enrichers are unlikely to vary between environments, simplify the config by moving them into the code.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.json
Due: azure-pipelines.dfe.yml

Switch Serilog to two stage initiialisation - and resolve the app insight telemetry config at the right time.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/LoggerConfigurationExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines.dfe.yml

Setup the bootstap logger only in the real program and not in the unit tests.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Program.cs
Due: azure-pipelines.dfe.yml

Fix minor build issues.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/ReindexSearchableDocuments/ReindexSearchableDocumentsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/ResetSearchableDocuments/PerformResetResponse.cs
Due: azure-pipelines.dfe.yml

Remove default value since property is required.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/ResetSearchableDocuments/PerformResetResponse.cs
Due: azure-pipelines.dfe.yml

EES-6160 Add Azure AI Search environment variables required by the public frontend app to site config
  infrastructure/parameters/prod.parameters.json
  infrastructure/templates/template.json
Due: none

EES-6166 Set the eventGridTopicsExist param to true in the Pre-Prod environment causing the topic endpoint app settings to be applied for Admin and Publisher
  infrastructure/parameters/pre-prod.parameters.json
Due: none

EE-6091 - added capturing of Public API "Get Changes" calls to analytics. Omitting calls that originate from the Admin App / privileged users.
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Security/AuthorizationHandlers/ViewDataSetAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Security/AuthorizationHandlers/ViewDataSetVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetVersionChangeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/Security/IAuthorizationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Security/AuthorizationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Replace Serilog setup with different approach to try to enable structured logging in App Insights.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Program.cs
Due: azure-pipelines.dfe.yml

Replace Serilog setup with different approach to try to enable structured logging in App Insights.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/LoggerConfigurationExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Program.cs
Due: azure-pipelines.dfe.yml

Removed unused using.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines.dfe.yml

EES-6092 - refactored DataSetQueryService to move Public API analytics code into AnalyticsService
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Restore the bootstrapper logger to enable me to log the telemetry configuration during start up.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/LoggerConfigurationExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Program.cs
Due: azure-pipelines.dfe.yml

EES-6178 Remove deployAlerts parameter from Search infrastructure build pipeline ensuring alert rules are always deployed
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/application/searchService.bicep
  infrastructure/templates/search/ci/azure-pipelines.yml
  infrastructure/templates/search/ci/jobs/deploy-infrastructure.yml
  infrastructure/templates/search/ci/tasks/deploy-bicep.yml
  infrastructure/templates/search/main.bicep
Due: none

EES-6091 - added common preview token and requested data set version call details to Public API query analytics
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/Queries/WithPreviewTokenAndRequestedDataSetVersion.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiQueriesProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiQueriesProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWritePublicApiQueryStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWritePublicApiQueryStrategyTests.ReportTests.CallWrittenSuccessfully_WithCoreQueryDetails.snap
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWritePublicApiQueryStrategyTests.ReportTests.CallWrittenSuccessfully_WithPreviewTokenAndRequestedDataSetVersion.snap
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Added a healthcheck for the logging
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/LoggingHealthCheck.cs
Due: azure-pipelines.dfe.yml

Remove Telemetry logging now that we've seen that it's populated.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/LoggerConfigurationExtensions.cs
Due: azure-pipelines.dfe.yml

Remove ConfiguredFeatureFlagProvider so that we can use useConfig() & ConfigController instead (in an upcoming PR)
  src/explore-education-statistics-admin/src/App.tsx
  src/explore-education-statistics-admin/src/contexts/FeatureFlagContext.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

PR amends
  src/explore-education-statistics-frontend/src/components/SearchFormAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/utils/createAzurePublicationListRequest.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Remove hardcoded Application Insights sink. Add appsettings.Production.json to format the logs when deployed. Prevent default logger from logging to console, duplicating Serilog logs.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/LoggerConfigurationExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.Production.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.json
Due: azure-pipelines.dfe.yml

Optimising imports and formatting
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/LoggerConfigurationExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.Development.json
Due: azure-pipelines.dfe.yml

EE-6091 - added capturing of Public API "Get Changes" calls to analytics. Omitting calls that originate from the EES service, either via Admin or the front-end code.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PublicDataApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Extensions/HttpClientExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Constants/RequestHeaderNames.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetVersionChangeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/PreviewTokenService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Security/AuthorizationHandlerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Utils/Requests/RequestHeaderNames.cs
  src/explore-education-statistics-common/src/services/api/index.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 added UI tests
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/FiltersForm.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 enable search & UI bugfixes
  src/explore-education-statistics-common/src/components/form/FormCheckbox.tsx
  src/explore-education-statistics-common/src/components/form/FormSearchBar.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 moved filter hierarchy selections augmenting to tabletool wizard scope before making request, removing state management smell
  src/explore-education-statistics-common/src/modules/table-tool/components/TableToolWizard.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/utils/filterHierarchiesShim.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 fix filters form test value submit check for hierarchy
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/FiltersForm.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 improved selected filter list at step 6 in table tool
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/utils/augmentFilterHierarchySelections.ts
  src/explore-education-statistics-common/src/modules/table-tool/components/utils/getFilterHierarchyRelatedOptionIds.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 pr ammends
  src/explore-education-statistics-common/src/components/form/FormSearchBar.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/FiltersForm.test.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/utils/getFilterHierarchyLabelsMap.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EE-6091 - added capturing of Public API "Get Changes" calls to analytics. Omitting calls that originate from the EES service, either via Admin or the front-end code.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PublicDataApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Extensions/HttpClientExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Constants/RequestHeaderNames.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetVersionChangeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/PreviewTokenService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Security/AuthorizationHandlerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Utils/Requests/RequestHeaderNames.cs
  src/explore-education-statistics-common/src/services/api/index.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Remove the line that disables the default logger, in case that behaves differently when deployed than it does locally.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines.dfe.yml

Log which appsettings file we're loading. Make the existence of the appsettings.xxx.json file non-optional.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ConfigurationExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
Due: azure-pipelines.dfe.yml
