Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

EES-6983 - Adds comment button to warning blocks (#6930)
  data/public-api-db/00-init.sh
  src/explore-education-statistics-admin/src/config/ckEditorConfig.ts
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleaseContentEdit.tsx
  src/explore-education-statistics-common/src/utils/sanitizeHtml.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7046 Fix Robot Test that was expecting removed release page element
  tests/robot-tests/tests/admin_and_public_2/bau/publishing_organisations.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7046 Fix Robot Test that was expecting removed release page element (#6933)
  tests/robot-tests/tests/admin_and_public_2/bau/publishing_organisations.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7002 - aligning progress response model with Screener API JSON response structure. Screening successfully starts via queue trigger.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Mappings/MappingProfiles.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/DataSetStartScreeningRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Screener/DataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/DataSetScreenerProgressResponse.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7088 - switching Pre-Prod and Prod Azure Front Door instances to use BYO certificates so that we can test them using the temporary AFD testing URLs ahead of switching over DNS entirely.
  infrastructure/templates/core/parameters/main-preprod.bicepparam
  infrastructure/templates/core/parameters/main-prod.bicepparam
Due: none

EES-7086 - potential fix for test failing due to timezone issues (#6931)
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ApiDataSetPreviewTokenCreateForm.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7038 - removed _next URL exclusion from security header middleware as these are not processed by middleware
  src/explore-education-statistics-frontend/src/middleware/headers/__tests__/securityHeaders.test.ts
  src/explore-education-statistics-frontend/src/middleware/headers/securityHeaders.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7002 - adding tests for DataSetScreenerService, and returning old screener request and response record names to original name to reduce impact on PR size.
  package.json
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/DataSetUploadMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetScreenerServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Screener/DataSetScreenerClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Mappings/MappingProfiles.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/DataSetScreenerRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetFileStorage.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/IDataSetFileStorage.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Screener/DataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/DataSetScreenerResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataSetUpload.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/Database/ContentDbContext.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7002 - adding Admin infrastructure placeholder values for new Screener options whilst the enhanced journey is not yet in use
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7002 - removing progress checking and deletion functions from Admin to reduce PR size
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IScreenerProgressUpdater.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Screener/DataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Screener/ScreenerProgressUpdater.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7002 - adding no-op QueueServiceClient for when the enhanced screener journey is disabled.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EEs-7036 - changes after PR comments.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/PreviewTokenControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PreviewTokenService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/DateTimeOffsetExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/DateTimeOffsetExtensionsTestsTheoryData.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Extensions/DateTimeOffsetExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7078 Change ContentApiClient to use new release version summary endpoint
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
Due: azure-pipelines.dfe.yml

EES-7002 - corrected failing Screener client test after base uri was updated
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Screener/DataSetScreenerClientTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7078 Rename file UnableToGetReleaseSummaryForPublicationException.cs -> UnableToGetReleaseVersionSummaryException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleaseVersionSummaryException.cs
Due: azure-pipelines.dfe.yml

EES-7078 Rename file ReleaseSummaryViewModel.cs -> ReleaseVersionSummaryViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseVersionSummaryViewModel.cs
Due: azure-pipelines.dfe.yml

EES-7078 Renaming ReleaseSummary -> ReleaseVersionSummary in variables, types and method names after changing SearchableDocumentChecker to use different ContentApiClient method.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ContentApiClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseSummaryRetrieverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseSummaryRetrieverTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/SearchableDocumentCheckerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseVersionSummaryDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseVersionSummary.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleaseVersionSummaryException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/CheckSearchableDocumentsReport.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseSummaryRetriever.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseVersionSummaryViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/SearchableDocumentChecker.cs
Due: azure-pipelines.dfe.yml

EES-7078 Rename ReleaseSummaryRetriever -> ReleaseVersionSummaryRetriever
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseSummaryRetrieverTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseVersionSummaryRetrieverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/SearchableDocumentCheckerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/IReleaseVersionSummaryRetriever.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseVersionSummaryRetriever.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/SearchableDocumentChecker.cs
Due: azure-pipelines.dfe.yml

EES-7078 Change Search Docs Function App to use Content API's new Release version summary endpoint (#6924)
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ContentApiClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseSummaryRetrieverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseSummaryRetrieverTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseVersionSummaryRetrieverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/SearchableDocumentCheckerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseVersionSummaryDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseVersionSummary.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleaseSummaryForPublicationException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleaseVersionSummaryException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/CheckSearchableDocumentsReport.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/IReleaseVersionSummaryRetriever.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseSummaryRetriever.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseSummaryViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseVersionSummaryRetriever.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseVersionSummaryViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/SearchableDocumentChecker.cs
Due: azure-pipelines.dfe.yml

EES-7002 - fixed Screener API base URL by removing "/screen" suffix.
  infrastructure/templates/template.json
Due: none

EES-7002 - reorganising Screener-related services and records / classes.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/DataSetUploadMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetFileStorageTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Screener/DataSetScreenerClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Screener/DataSetScreenerServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Mappings/MappingProfiles.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20260422111741_Ees7002AddScreenerProgressColumnToDataSetUploads.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Responses/Screener/DataSetScreenerProgressResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetFileStorage.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/IDataSetFileStorage.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Screener/DataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Screener/DataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/Screener/DataSetScreenerProgress.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/Screener/DataSetScreenerResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/Screener/DataSetScreenerTestResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataSetUpload.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/Database/ContentDbContext.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7002 - added tests to ensure screener progress updates are being applied correctly.
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Screener/DataSetScreenerClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Screener/DataSetScreenerServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/ContentDbContextModelSnapshot.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Options/DataScreenerOptions.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Screener/IDataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Screener/DataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Screener/DataSetScreenerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Fixtures/InstanceSetters.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/Screener/DataSetScreenerProgress.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/Fixtures/DataSetUploadGeneratorExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7002 - added screener progress view models to overall DataSetUploadViewModel, for initial rendering of the "Data and files" page and its screening progress.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/DataSetUploadMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetUploadRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Mappings/MappingProfiles.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DataSetUploadViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/Screener/ScreenerProgressViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/Screener/ScreenerResultViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/Screener/ScreenerTestResultViewModel.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7028 Remove unused getPublicationRelease from publicationService.ts
  src/explore-education-statistics-common/src/services/publicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7028 Remove unused getPublicationRelease from publicationService.ts (#6940)
  src/explore-education-statistics-common/src/services/publicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
  tests/robot-tests/tests/snapshots/methodologies_snapshot.json
  tests/robot-tests/tests/snapshots/table_tool_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7096 Remove unused methods from BauCacheController for clearing publication and release cache items
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Bau/BauCacheControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Bau/BauCacheController.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots (#6942)
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
  tests/robot-tests/tests/snapshots/methodologies_snapshot.json
  tests/robot-tests/tests/snapshots/table_tool_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-2991 - Moving Admin's email template id params to appsettings.json
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-2991 - Removing the email template ids from the appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.Development.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-2991 - Moving Admin's email template id params to appsettings.json (#6943)
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7040 - Adding additional tests for the 'AuthorizationHandlerService'
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AuthorizationHandlerServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/AuthorizationHandlerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/IAuthorizationHandlerService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7040 - Refactoring to remove state leaking between tests
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AdoptMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AssignPrereleaseContactsToSpecificReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AuthorizationHandlerServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CancelSpecificFileImportAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CreateMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CreateReleaseForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteSpecificCommentAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteSpecificReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteTestReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DropMethodologyLinkAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MakeAmendmentOfReleaseAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MakeAmendmentOfSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ManageExternalMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsApprovedAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsDraftAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsHigherReviewAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/PublicationReleaseSeriesAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ReleaseStatusAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateContactAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateDraftersAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdatePublicationSummaryAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificCommentAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificReleaseVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewReleaseStatusHistoryAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPreReleaseSummaryAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPublicationAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPublicationReleaseTeamAccessAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificReleaseAuthorizationHandlersTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7040 - Fixing build from rebase
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificCommentAuthorizationHandlerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7040 - Applying initial PR Review suggested changes
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificReleaseVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSpecificReleaseVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Security.Tests/AuthorizationHandlers/ViewReleaseVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Security/AuthorizationHandlers/ViewReleaseVersionAuthorizationHandler.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7040 - Applying initial PR Review suggested changes (2)
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificReleaseVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/AssignPrereleaseContactsToSpecificReleaseAuthorizationHandlers.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/AuthorizationHandlerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/CancelSpecificFileImportAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/CreatePublicationForSpecificThemeAuthorizationHandlers.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/DeleteSpecificCommentAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ResolveSpecificCommentAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/UpdateContactAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/UpdateSpecificCommentAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/UpdateSpecificReleaseAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/UpdateSpecificReleaseVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewReleaseStatusHistoryAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSpecificPreReleaseSummaryAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSpecificPublicationAuthorizationHandlers.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSpecificReleaseVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSubjectDataAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/StartupSecurityConfiguration.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseInviteService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleasePermissionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserRoleService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Util/PermissionsUtils.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/StartupSecurityConfiguration.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Security.Tests/AuthorizationHandlers/ViewReleaseVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Security/AuthorizationHandlers/ViewReleaseVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Api/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7040 - Changes as per PR Review (excluding renames)
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AdoptMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AssignPrereleaseContactsToSpecificReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AuthorizationHandlerServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CancelSpecificFileImportAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CreateMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CreateReleaseForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteSpecificCommentAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteSpecificReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteTestReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DropMethodologyLinkAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MakeAmendmentOfReleaseAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MakeAmendmentOfSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ManageExternalMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsApprovedAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsDraftAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsHigherReviewAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/PublicationReleaseSeriesAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ReleaseStatusAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateContactAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateDraftersAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdatePublicationSummaryAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificCommentAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificReleaseVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewReleaseStatusHistoryAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPreReleaseSummaryAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPublicationAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPublicationReleaseTeamAccessAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificReleaseVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/Fixtures/MethodologyVersionGeneratorExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7040 - File/class Renames (as per PR Review)
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CancelSpecificFileImportAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MakeAmendmentOfSpecificReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ManagePublicationReleaseSeriesAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPreReleaseSummaryAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPublicationReleaseTeamAccessAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/AssignPrereleaseContactsToSpecificReleaseAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/CreateMethodologyForSpecificPublicationAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/CreatePublicationForSpecificThemeAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/CreateReleaseForSpecificPublicationAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/DeleteSpecificMethodologyAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/DeleteSpecificReleaseAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/DeleteTestReleaseAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/MakeAmendmentOfSpecificMethodologyAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/MakeAmendmentOfSpecificReleaseAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ManageExternalMethodologyForSpecificPublicationAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ManagePublicationReleaseSeriesAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSpecificMethodologyAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSpecificPublicationAuthorizationHandler.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml
