Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

EES-6019 setup jest tests
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/TableToolWizard.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/FiltersForm.test.tsx
  src/explore-education-statistics-frontend/src/modules/table-tool/TableToolPage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6032 Fix issue on Safari to allow copying chart to clipboard
  src/explore-education-statistics-common/src/modules/charts/components/ChartExportMenu.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5956 Add OnPublicationArchivedFunction and RemovePublicationSearchableDocumentsFunction to support publication archiving events and removal of searchable documents
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/AzureBlobStorageClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ContentApiClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/SearchableDocumentRemoverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationArchived/OnPublicationArchivedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/ProgramTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/SearchableDocumentRemoverTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/AzureBlobStorageClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/IAzureBlobStorageClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSummaryViewModelDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleasesForPublicationException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnPublicationArchived/Dtos/PublicationArchivedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnPublicationArchived/OnPublicationArchivedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RemovePublicationSearchableDocuments/Dto/RemovePublicationSearchableDocumentsDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/ISearchableDocumentRemover.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/RemovePublicationSearchableDocumentsRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/RemovePublicationSearchableDocumentsResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/SearchableDocumentRemover.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/local.settings.json
  src/GovUk.Education.ExploreEducationStatistics.Search.sln.DotSettings
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5956 Shorten the keys of queue names in SearchStorageQueueNames type
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/application/searchDocsFunctionEventSubscriptions.bicep
  infrastructure/templates/search/types.bicep
Due: none

EES-6035 Changes in response to PR comments
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiQueriesProcessorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Functions/ConsumeAnalyticsRequestFilesFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiQueriesProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Utils/RandomUtils.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/QueryAnalyticsWriter.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix export menu styling
  src/explore-education-statistics-common/src/components/ExportMenu.module.scss
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Show confirmation of copy to clipboard success in button text
  src/explore-education-statistics-common/src/modules/charts/components/ChartExportMenu.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5956 Log response
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsFunction.cs
Due: azure-pipelines.dfe.yml

EES-5956 Change RemovePublicationSearchableDocumentsResponse to use a dictionary as constructor argument
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/SearchableDocumentRemoverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/RemovePublicationSearchableDocumentsResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/SearchableDocumentRemover.cs
Due: azure-pipelines.dfe.yml

EES-5809 Only allow published versions to be fetched from the database FindByVersion query
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Extensions/DataSetVersionQueryableExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5956 Improve SearchableDocumentRemoverTests
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/AzureBlobStorageClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/SearchableDocumentRemoverTests.cs
Due: azure-pipelines.dfe.yml

EES-6000 show single item filters in tables
  src/explore-education-statistics-common/src/modules/table-tool/utils/__tests__/getDefaultTableHeadersConfig.test.ts
  src/explore-education-statistics-common/src/modules/table-tool/utils/getDefaultTableHeadersConfig.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5977 Add analytics for zip downloads
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiQueriesProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiQueriesProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicZipDownloadsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Utils/MockUtils.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/ReleaseFileControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Fixtures/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Controllers/DataSetFilesController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Controllers/ReleaseFileController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/appsettings.IntegrationTest.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/Services/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/StrategiesTests/AnalyticsWritePublicZipDownloadStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsOptions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/ReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Requests/CaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWritePublicZipDownloadStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/Interfaces/IAnalyticsWriteStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Utils/AnalyticsUtils.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Api/Controllers/PermalinkController.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Controllers/DataSetsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/QueryAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Extensions/MockTaskOrchestrationEntityFeatureExtensions.cs
  src/explore-education-statistics-common/src/modules/table-tool/components/DownloadTable.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6045 Update Azure AI Search index configuration
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

EES-5779 - Validate data set version using DTO
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Public.Data/DataSetVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/Public.Data/NextDataSetVersionCreateRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/ProcessorClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/NextDataSetVersionMappingsCreateRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/SemVersionJsonConverter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/CreateNextDataSetVersionMappingsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/CreateNextDataSetVersionMappingsFunction.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6056 - temporarily patched create_data_block_with_chart.robot with workarounds for newly raised bugs EES-6052 and EES-6055.
  tests/robot-tests/tests/admin/bau/create_data_block_with_chart.robot
  tests/robot-tests/tests/admin/bau/delete_subject.robot
  tests/robot-tests/tests/libs/charts.robot
  tests/robot-tests/tests/libs/common.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add Is Indexer Running check.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/LoggerMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/AzureSearch/SearchIndexClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/AzureSearchIndexerClientWrapper.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/IAzureSearchIndexerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/ISearchIndexClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/SearchIndexClient.cs
Due: azure-pipelines.dfe.yml

Rename SearchIndexClient to SearchIndexerClient (and all related items)
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/SearchIndexClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/AzureSearch/SearchIndexerClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/AzureSearchIndexerClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/ISearchIndexerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/SearchIndexerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/AzureSearchHealthCheckStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
Due: azure-pipelines.dfe.yml

Removed the placeholder headings that Ben is going to write. Coming soon!
  styleguides/events.md
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

First pass at some docs for events
  styleguides/events.md
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Making some improvements to the documentation. Adding some more information to the code comments too.
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/ConfiguredEventGridClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/EventGridClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/EventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/IEventRaiser.cs
  styleguides/events.md
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add missing useCallback dependency
  src/explore-education-statistics-common/src/modules/charts/components/ChartExportMenu.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6033 Handle focus after deleting release content section
  src/explore-education-statistics-admin/src/components/editable/EditableAccordion.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleaseContentAccordion.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleaseContentAccordionSection.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/__tests__/ReleaseContentAccordionSection.test.tsx
  src/explore-education-statistics-admin/src/pages/release/content/contexts/useReleaseContentActions.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix add button id to be unique id
  src/explore-education-statistics-admin/src/components/editable/EditableAccordion.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleaseContentAccordion.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

More methodology and release content focus handling
  src/explore-education-statistics-admin/src/pages/methodology/edit-methodology/content/components/MethodologyAccordion.tsx
  src/explore-education-statistics-admin/src/pages/methodology/edit-methodology/content/components/MethodologyAccordionSection.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleaseContent.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleaseContentAccordionSection.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleaseEditableBlock.tsx
  src/explore-education-statistics-admin/src/pages/release/content/components/ReleaseHeadlines.tsx
  src/explore-education-statistics-admin/src/utils/focus/focusAddedSectionBlockButton.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6033 Handle focus after methodology section removal
  src/explore-education-statistics-admin/src/pages/methodology/edit-methodology/content/components/MethodologyAccordion.tsx
  src/explore-education-statistics-admin/src/pages/methodology/edit-methodology/content/components/MethodologyAccordionSection.tsx
  src/explore-education-statistics-admin/src/pages/methodology/edit-methodology/content/context/useMethodologyContentActions.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix a couple of lint errors
  src/explore-education-statistics-admin/src/components/FormModal.tsx
  src/explore-education-statistics-admin/src/pages/methodology/edit-methodology/content/components/MethodologyAccordionSection.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6049 Clean up based on PR comments
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Extensions/DataSetVersionQueryableExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6045 Remove `normalizers` and `flightingOptIn` which are not supported properties of the 2024-07-01 API version specified by the deployment script.
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

EES-6049 - Added integration tests, used iqueryable extension WherePublishedStatus() only when a wildcard is being specified.
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/TheoryData/DataSetVersionStatusTheoryData.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetVersionChangeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model.Tests/Extensions/DataSetVersionQueryableExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Extensions/DataSetVersionAuthExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Extensions/DataSetVersionQueryableExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6049 - Add missing integration test for DataSetVersionsControllerTests.GetDataSetVersionTests
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6049 Clean up tests
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6049 - Enhance DataSetVersionQueryableExtensionsTests.cs, remove duplicate logic in services and move logic into FindByVersion
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Utils/DataSetVersionNumberTest.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Utils/DataSetVersionNumber.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetVersionChangeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model.Tests/Extensions/DataSetVersionQueryableExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Extensions/DataSetVersionQueryableExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6949 - Dedube common test data set up code, Clean up accessors, use srongly typed TheoryData
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Utils/DataSetVersionNumberTest.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Utils/DataSetVersionNumber.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/IntegrationTestFixtureWithCommonTestDataSetup.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model.Tests/Extensions/DataSetVersionQueryableExtensionsTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6049 - Clean up
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Extensions/DataSetVersionQueryableExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6049 - Extend & use TheoryData to allow declaring two lists as parameters for test methods.
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/TheoryDataExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model.Tests/Extensions/DataSetVersionQueryableExtensionsTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6049 - Public API wildcard data set versions try to access unpublished data bug fix (#5809)
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/TheoryDataExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Utils/DataSetVersionNumberTest.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Utils/DataSetVersionNumber.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/IntegrationTestFixtureWithCommonTestDataSetup.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/TheoryData/DataSetVersionStatusTheoryData.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model.Tests/Extensions/DataSetVersionQueryableExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Extensions/DataSetVersionAuthExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Extensions/DataSetVersionQueryableExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6000 fix table rendering issue and update ui tests
  src/explore-education-statistics-common/src/modules/table-tool/utils/getDefaultTableHeadersConfig.ts
  tests/robot-tests/tests/admin_and_public/bau/publish_data.robot
  tests/robot-tests/tests/libs/admin/manage-content-common.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml
