Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

EES-5952 Add infrastructure for Event Grid custom topics
  infrastructure/templates/common/abbreviations.bicep
  infrastructure/templates/common/components/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/functionApp.bicep
  infrastructure/templates/search/application/eventGridMessaging.bicep
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/application/searchService.bicep
  infrastructure/templates/search/components/searchService.bicep
  infrastructure/templates/search/main.bicep
Due: none

Fix name of function OnPublicationLatestPublishedReleaseVersionChanged
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnPublicationLatestPublishedReleaseVersionChanged/OnPublicationLatestPublishedReleaseVersionChangedFunction.cs
Due: azure-pipelines.dfe.yml

EES-5977 Renaming stuff
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Functions/ConsumePublicZipDownloadFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/appsettings.AnalyticsEnabled.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Controllers/ReleaseFileController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/AnalyticsWriterTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/__snapshots__/AnalyticsWriterTests.TwoZipDownloads_Success.ZipDownload1.snap
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/__snapshots__/AnalyticsWriterTests.TwoZipDownloads_Success.ZipDownload2.snap
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/ReleaseFileService.cs
  src/explore-education-statistics-frontend/src/modules/find-statistics/PublicationReleasePage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5952 Refactor eventGridMessaging.bicep to make it a common component
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/search/main.bicep
Due: none

If the order changes so that the latest release changes, raise an event.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/PublicationService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Renamed the event to better indicate the specific change
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Events/PublicationLatestPublishedReleaseVersionChangedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAdminEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/PublicationService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Reordering the publication release series should always result in an old and new latest published version - so change event such that it is not nullable.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Events/PublicationLatestPublishedReleaseVersionChangedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAdminEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/PublicationService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6021 Add step to Upgrade Azure CLI and extensions
  infrastructure/templates/search/ci/jobs/deploy-infrastructure.yml
Due: none

EES-6021 Remove unnecessary 'az bicep install' command
  infrastructure/templates/search/ci/jobs/deploy-infrastructure.yml
Due: none

EES-6021 Add workaround for AZ CLI 2.71.x breaks bicep deployments when using Azure Devops Agent. See https://github.com/Azure/azure-cli/issues/31189
  infrastructure/templates/search/ci/tasks/deploy-bicep.yml
Due: none

EES-5741 fix layout issue
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 search setup
  src/explore-education-statistics-common/src/components/form/FormCheckbox.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5952 Add infrastructure for Event Grid topic queue subscriptions
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridCustomTopicQueueSubscription.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/application/searchDocsFunctionEventSubscriptions.bicep
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/types.bicep
Due: none

EES-5975 Add placeholders for the publication-changed, release-changed and theme-changed topic endpoints in the Admin app settings
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.Development.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Remove archive handling from data processor/importer.
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/DataImportTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage1Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage2Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage3Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Functions/Processor.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Program.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/DataArchiveService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/Interfaces/IDataArchiveService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/Interfaces/IProcessorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/ProcessorService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Move basic data upload validation to request validator functions.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataArchiveValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataImportService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileValidators.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/FileTypeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/FileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/Interfaces/IFileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Validators/FileTypeValidationUtils.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Remove zipfile object persistance/import queue, split archive extraction from validation.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IFileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Update frontend service endpoint argument structure.
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Add WithMessage params overload, fix frontend missing validation messages for data set title, move ZIP meta and special character checks to Fluent Validator.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataArchiveValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileValidators.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Extensions/FluentValidationExtensions.cs
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseDataFileReplacePage.tsx
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Replace data set upload tuple with result object. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetUploadResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Add DataSet types for managing upload, extraction, and validation independently, apply changes to each upload method (file pair, zip, bulk zip).
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataArchiveValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IFileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/FileTypeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/FileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/Interfaces/IFileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/ValidatorService.cs
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseDataFileReplacePage.tsx
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Split ancillary file and data set validation methods into separate classes. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/AncillaryFileValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataArchiveValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Methodologies/MethodologyImageServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Methodologies/MethodologyImageServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseImageServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseImageServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AncillaryFileValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAncillaryFileValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IFileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Methodologies/MethodologyImageService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseImageService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Rename "archive" to "zip" for clarity/consistency. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetZipValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/ZipDataSetFile.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetZipValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetZipValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ZipDataSetFileViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/FileTypeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/FileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Validators/FileTypeValidationUtils.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Replace FileTypeValidationUtils regex patterns with compile-time generators, refactor class methods to improve encapsulation. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/FileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Validators/FileTypeValidationUtils.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Refine collection additions, return if data/meta files aren't found in a collection. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Group duplicate validation rules into separate method. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileValidators.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Move simple file name validation methods to static class, fix messaging placeholders, consistent "file name"/"filename". [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileNameValidators.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileValidators.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileUploadForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Add constants class, inc. data set file extensions. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetZipValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileValidators.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Constants.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Minor DTO builder refactor. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Refactor upload methods to handle data set file pairs. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Refactor data set validator into result pattern. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Refactor duplicate data set extraction and validation logic. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Add/update tests for DataSetValidator service. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/DataSetFileBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetValidatorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetZipValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidator.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetValidator.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Utils/MockFormTestUtils.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5975 Add the publication-changed, release-changed and theme-changed topic endpoints to the Admin app settings conditionally depending on the topics existing
  infrastructure/parameters/dev.parameters.json
  infrastructure/parameters/pre-prod.parameters.json
  infrastructure/parameters/prod.parameters.json
  infrastructure/parameters/test.parameters.json
  infrastructure/templates/template.json
Due: none

EES-5898: Refactor BuildDataSetFile to accept a single IFormFile. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5979 Add analytics recording for Content API CSV download endpoint
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Functions/ConsumePublicCsvDownloadsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Controllers/DataSetFilesController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/AnalyticsWriterTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/Services/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/DataSetFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IDataSetFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Controllers/DataSetsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/QueryAnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/QueryAnalyticsWriter.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6020 sanitise download file names
  src/explore-education-statistics-common/src/utils/file/__tests__/sanitiseFileName.test.ts
  src/explore-education-statistics-common/src/utils/file/downloadFile.ts
  src/explore-education-statistics-common/src/utils/file/sanitiseFileName.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 refined search UX
  src/explore-education-statistics-common/src/components/form/FormSearchBar.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5966: Add UI test for permalink generation from non-latest data
  tests/robot-tests/tests/general_public/prod_only/old_fast_track.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml
