Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

Correct typeBoost to be an integer so that it can be used as a magnitude weighting
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

Boost up the Title a lot. Also boost up the summary and add in the multiplier for Release Type e.g. Accredited Official Statistics > Official Statistics etc
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

typeBoost must be "filterable" in order for the magnitude function to be applied
  infrastructure/templates/search/application/indexes/index-1.json
Due: none

EES-6285 Base64 encode releaseSlug for safe use in HTTP headers
  infrastructure/templates/search/scripts/SetupSearchService.ps1
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Extensions/ReleaseSearchableDocumentExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ReleaseSearchableDocumentExtensions.cs
Due: azure-pipelines.dfe.yml

EES-6269 Fix GetAccoutrementsSummary bug
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6244 Pull out GenerateReplacementPlan method
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/DataReplacementControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/DataReplacementController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6244 Uncomment out frontend button for replace all
  src/explore-education-statistics-admin/src/pages/release/data/components/ReleaseDataUploadsSection.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6245 fix weird behaviour when reversing chart major axis
  src/explore-education-statistics-common/src/modules/charts/components/HorizontalBarBlock.tsx
  src/explore-education-statistics-common/src/modules/charts/components/LineChartBlock.tsx
  src/explore-education-statistics-common/src/modules/charts/components/VerticalBarBlock.tsx
  src/explore-education-statistics-common/src/modules/charts/util/__tests__/createDataSetCategories.test.ts
  src/explore-education-statistics-common/src/modules/charts/util/createDataSetCategories.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

frontend Api version history to correctly display '(current)' label when displaying a data set which had API data set replaced via patching mechanism.
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/DataSetFileApiVersionHistory.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-XXXX - adding an optimised setup for an integration test
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/OptimisedDataSetVersionMappingControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedAzuriteContainerUtil.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedDbContextTestExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedHttpClientExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedIntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedPostgreSqlContainerUtil.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedWebApplicationFactoryBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedWebApplicationFactoryExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-XXXX - creating fixture to be able to reuse an HttpClient with PSQL across various tests
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/OptimisedDataSetVersionMappingControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedHttpClientWithPsqlFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedIntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedPsqlContainerFixture.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6244 Update endpoint to take list of replacementFileIds
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/DataReplacementControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/DataReplacementController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationUtils.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ApiDataSetVersionPlanViewModel.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6036 Disable public access to Event Grid custom topics
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/search/application/eventMessaging.bicep
  infrastructure/templates/search/main.bicep
Due: none

Fix `droppedEventCountAlert` module name
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
Due: none

EES-6036 Move privateDnsZones.bicep, privateDnsZone.bicep and privateEndpoint.bicep to common
  infrastructure/templates/common/application/privateDnsZones.bicep
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
  infrastructure/templates/common/components/functionApp.bicep
  infrastructure/templates/common/components/privateDnsZone.bicep
  infrastructure/templates/common/components/privateEndpoint.bicep
  infrastructure/templates/common/dnsZones.bicep
  infrastructure/templates/common/types.bicep
  infrastructure/templates/public-api/components/containerAppPrivateDns.bicep
  infrastructure/templates/public-api/components/durableFunctionApp.bicep
  infrastructure/templates/public-api/components/postgreSqlFlexibleServer.bicep
  infrastructure/templates/public-api/components/storageAccount.bicep
  infrastructure/templates/public-api/main.bicep
  infrastructure/templates/public-api/types.bicep
Due: none

EES-6036 Add a private DNS zone for handling private endpoints for Event Grid custom topics
  infrastructure/templates/common/application/privateDnsZones.bicep
  infrastructure/templates/common/dnsZones.bicep
  infrastructure/templates/common/types.bicep
Due: none

EES-6036 Move eventMessaging.bicep from search/application to common/application
  infrastructure/templates/common/application/eventMessaging.bicep
  infrastructure/templates/search/main.bicep
Due: none

EES-6036 Add subnet for private endpoints of Event Grid custom topics
  infrastructure/templates/template.json
Due: none

EES-6036 Add private endpoints to Event Grid custom topics
  infrastructure/templates/common/application/eventMessaging.bicep
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/types.bicep
Due: none

EES-XXXX - refactoring to make nested integration tests top-level integration tests instead with no special hierarchy. Reusable and pre-created DbContexts for test data setup and assertions.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/OptimisedDataSetVersionMappingControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedHttpClientWithPsqlFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedPostgreSqlContainerUtil.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6284 Adding a helper property to `ContentDbContext` to help select ALL user publication roles (including NEW and OLD permissions system roles), whilst still excluding soft deleted ones
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/Database/ContentDbContext.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6284 Using the new helper property to retrieve ALL publication roles when deleting a user and deleting all resource roles for a user
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserManagementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserRoleServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserManagementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserRoleService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/Fixtures/UserPublicationInviteGeneratorExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 Adding some Publication Role utility functions
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Util/PublicationRoleUtilsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Util/PublicationRoleUtils.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 adding an helper class to help with the creation and deletion of publication roles in the NEW permissions system
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/INewPermissionsSystemHelper.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/NewPermissionsSystemHelper.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 Adding tests for the `NewPermissionsSystemHelper`
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/NewPermissionsSystemHelperTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 Changes to allow the synchronization of the OLD permissions system with the NEW permissions system when CREATING OLD roles
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AbstractUserResourceRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IUserPublicationRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IUserReleaseRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/SignInService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserPublicationRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserReleaseRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserRoleService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 [WIP] Adding tests for the new `UserPublicationRoleRepository` functionality
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserPublicationRoleRepositoryTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 Finishing Tests for the Create methods in the `UserPublicationRoleRepository` and `UserReleaseRoleRepository`
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserPublicationRoleRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserReleaseRoleRepositoryTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 Adding `Remove` methods for removing individual publication roles and release roles + Tests
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/NewPermissionsSystemHelperTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserPublicationRoleRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserReleaseRoleRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AbstractUserResourceRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/INewPermissionsSystemHelper.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IUserPublicationRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IUserReleaseRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/NewPermissionsSystemHelper.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserPublicationRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserReleaseRoleRepository.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-XXXX - added more test methods into Optimised suite. Swapped fixture to be collection-based rather than class-based to prevent fixture needing recreating for each new test class.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/OptimisedDataSetVersionMappingControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedHttpClientWithPsqlFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/OptimisedPostgreSqlContainerUtil.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/DbContextTestExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-XXXX - re-indented individual test classes
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/OptimisedDataSetVersionMappingControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6289 Remove replacementFileId argument from replacement endpoints
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/DataReplacementControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/DataReplacementController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementPlan.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFilesReplacementTableRow.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
  src/explore-education-statistics-admin/src/services/dataReplacementService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 Fixing the publication role/release role creation and removal methods using the new `includeNewPermissionsSystemRoles` optional parameter
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AdoptMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AuthorizationHandlerServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CreateMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/CreateReleaseForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DropMethodologyLinkAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MakeAmendmentOfSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ManageExternalMethodologyForSpecificPublicationAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsApprovedAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsDraftAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/MarkMethodologyAsHigherReviewAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPublicationReleaseTeamAccessAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/NewPermissionsSystemHelperTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserPublicationRoleRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserReleaseRoleRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AbstractUserResourceRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IUserPublicationRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/NewPermissionsSystemHelper.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserPublicationRoleRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserReleaseRoleRepository.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6289 Pull out GenerateReplacementPlan method
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/DataReplacementControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/DataReplacementController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6289 Update service to take a list of originalFileIds
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/DataReplacementControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/DataReplacementController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationErrorMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationUtils.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ApiDataSetVersionPlanViewModel.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/ReleaseDataUploadsSection.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6148 Adding missing tests for edge-cases in `NewPermissionsSystemHelperTests`
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/NewPermissionsSystemHelperTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/NewPermissionsSystemHelper.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Removing Playwright tests which are no longer maintained
  .eslintignore
  azure-pipelines-ui-tests.yml
  tests/playwright-tests/.env.example
  tests/playwright-tests/.gitignore
  tests/playwright-tests/README.md
  tests/playwright-tests/admin/azpage/AzureLoginPage.ts
  tests/playwright-tests/admin/pages/AdminPage.ts
  tests/playwright-tests/admin/pages/ContentPage.ts
  tests/playwright-tests/admin/pages/CreateNewPublicationPage.ts
  tests/playwright-tests/admin/pages/CreateNewReleasePage.ts
  tests/playwright-tests/admin/pages/CreateThemePage.ts
  tests/playwright-tests/admin/pages/ManagePublicationReleasePage.ts
  tests/playwright-tests/admin/pages/SignOffPage.ts
  tests/playwright-tests/admin/pages/ThemesPage.ts
  tests/playwright-tests/general-public/pages/FindStatisticsPage.ts
  tests/playwright-tests/general-public/pages/GlossaryPage.ts
  tests/playwright-tests/general-public/pages/HomePage.ts
  tests/playwright-tests/general-public/pages/ReleasePage.ts
  tests/playwright-tests/package-lock.json
  tests/playwright-tests/package.json
  tests/playwright-tests/playwright.config.ts
  tests/playwright-tests/tests/admin-and-public/publishPublication.spec.ts
  tests/playwright-tests/tests/admin/themes.spec.ts
  tests/playwright-tests/tests/public/glossary.spec.ts
  tests/playwright-tests/tests/public/redirects.spec.ts
  tests/playwright-tests/tests/public/seoMetadataFiles.spec.ts
  tests/playwright-tests/tsconfig.json
  tests/playwright-tests/utils/env.ts
  tests/playwright-tests/utils/generateRunIdentifier.ts
  tests/playwright-tests/utils/slugFromTitle.ts
  tests/playwright-tests/utils/uiTestString.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-XXXX - ported final remaining tests into OptimisedDataSetVersionMappingControllerTests, reducing run times from 37 seconds to 19 seconds
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/OptimisedDataSetVersionMappingControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
