Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

Provide valid (non-null) claims principles to calls
  src/GovUk.Education.ExploreEducationStatistics.Data.Services.Tests/Security/AuthorizationHandlers/ViewSubjectDataForPublishedReleasesAuthorizationHandlerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES_6085 - bringing DownloadZip processor in line with new structural changes
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicCsvDownloadsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicCsvDownloadsProcessor.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Move data catalogue link on homepage to CTA box
  src/explore-education-statistics-frontend/src/components/HomepageCard.module.scss
  src/explore-education-statistics-frontend/src/components/HomepageCard.tsx
  src/explore-education-statistics-frontend/src/pages/index.tsx
  tests/robot-tests/tests/general_public/miscellaneous.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add GA tracking to homepage links
  src/explore-education-statistics-frontend/src/components/HomepageCard.tsx
  src/explore-education-statistics-frontend/src/pages/index.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6145 allow axis decimpal places to be zero
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/ChartAxisConfiguration.tsx
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/__tests__/ChartAxisConfiguration.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6178 Add alert rules to Azure AI Search service
  infrastructure/templates/public-api/components/alerts/resourceMetrics.bicep
  infrastructure/templates/search/application/searchService.bicep
  infrastructure/templates/search/components/searchService.bicep
Due: none

EES-6178 Always create alert rule resources but allow configuration to control whether they are enabled
  infrastructure/templates/public-api/components/alerts/dynamicMetricAlert.bicep
  infrastructure/templates/public-api/components/alerts/staticMetricAlert.bicep
  infrastructure/templates/search/components/searchService.bicep
Due: none

EES-6178 Add alert rules to Event Grid custom topics
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/public-api/components/alerts/resourceMetrics.bicep
  infrastructure/templates/search/application/eventMessaging.bicep
Due: none

EES-6178 Add additional alert rules
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/search/application/eventMessaging.bicep
Due: none

Change waitFor getByText to await findByText
  src/explore-education-statistics-frontend/src/modules/find-statistics/__tests__/FindStatisticsPageAzure.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Remove mock search-documents file
  src/explore-education-statistics-frontend/__mocks__/@azure/search-documents.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6178 Simplify custom topic alerts param in eventGridMessaging.bicep
  infrastructure/templates/common/components/event-grid/eventGridMessaging.bicep
  infrastructure/templates/search/application/eventMessaging.bicep
Due: none

Fix ContentBlocks.LockedBy asserts.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ManageContent/ContentBlockLockServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6094 - bringing DownloadPublicCsv into same path resolver structure as other paths
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicCsvDownloadsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolverBase.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicCsvDownloadsProcessor.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Just letting Rider do its thing.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PublicationServiceTestsTheoryData.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidator.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IProcessorClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/ProcessorClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetVersionCallsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiQueriesProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/ReleaseFileControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsPathResolverBase.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/DataSetVersionImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/ProcessNextDataSetVersionMappingsFunctions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/ContentDbContextMockBuilder.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6178 Add support for custom topic dimensions in alert rules
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
  infrastructure/templates/public-api/components/alerts/resourceMetrics.bicep
Due: none

EES-6203 Include FromPage in ZipDownload DuckDb hash
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicZipDownloads/ZipDownloadRequestFile_NoSubjectId_ReleaseDownloads.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicZipDownloads/ZipDownloadRequestFile_NoSubjectId_ReleaseUsefulInfo.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicZipDownloadsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicZipDownloadsProcessor.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Testing custom topic alerts
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
Due: none

Fix potentially null ContentDbContext
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Methodologies/MethodologyApprovalServicePermissionTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix another potentially null db context
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseFileServicePermissionTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Remove redundant (and confusing) braces
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Shorten name below 64 character length limit
  infrastructure/templates/common/components/event-grid/eventGridCustomTopic.bicep
Due: none

EES-5816 Add DataSetFileMeta.NumDataFileRows
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Bau/DataSetFileMetaMigrationController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/DataSetFilesControllerCachingTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/DataSetFilesControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/Fixtures/DataSetFileMetaGeneratorExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataSetFileMeta.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/DataSetFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.ViewModels/DataSetFileMetaViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Services/DataImportServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Services/FileImportServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/DataImportService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/FileImportService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/Interfaces/IDataImportService.cs
  src/explore-education-statistics-frontend/src/modules/data-catalogue/__data__/testDataSets.ts
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/DataSetFileDetails.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/DataSetFileSummary.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/__tests__/DataSetFileDetails.test.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/__tests__/DataSetSummary.test.tsx
  src/explore-education-statistics-frontend/src/services/dataSetFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Discard unused param
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Fixtures/IntegrationTestFixture.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Set readonly strings to consts
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/MethodologyControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/PublicationControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

A couple of places where variables are assumed to be null. Add Assert instead of potential null ref.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/DataSetFilesControllerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Public Storage config is not optional - so added guard, instead of allowing a null value to be passed in and throw
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Extensions/ConfigurationExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Extensions/StringExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5999: Add screener API client and link with existing response structure.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataScreenerTestResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetScreenerRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetScreenerResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetFileStorage.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DataSetUploadResultViewModel.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5999: Add DataSetUploads table.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250603104730_EES5999_AddDataSetUploadTable.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250603104730_EES5999_AddDataSetUploadTable.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataSetUpload.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/Database/ContentDbContext.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5999: Update endpoint routes to match convention, convert service methods to async.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5999: Uploading a data set creates a record in the new table, add result property to upload entity, import now just provides the entity IDs for safer retrieval.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250603160617_EES5999_UpdateDataSetUploadTable.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250603160617_EES5999_UpdateDataSetUploadTable.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250604124108_EES5999_AddFileSizePropertiesToUploads.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250604124108_EES5999_AddFileSizePropertiesToUploads.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetScreenerRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/DataSetScreenerRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetFileStorage.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetUploadRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/IDataSetFileStorage.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetScreenerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetUploadRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DataSetUploadResultViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DataSetUploadViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DataSetViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/DataScreenerTestResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Model/DataSetScreenerResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataSetUpload.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/Database/ContentDbContext.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/DataSetUploadModalConfirm.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ReleaseDataUploadsSection.tsx
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5999: Update data upload response/view model to accomodate uploads and imports simultaneously (WIP).
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetInfoViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetUploadResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetUploadRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetUploadRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DataSetUploadViewModel.cs
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5999: Add status options and remove upload record prior to import.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetFileStorage.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataSetUpload.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/ImporterStatus.tsx
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add git file to ignore specified commits in `git blame`.
  .git-blame-ignore-revs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Couple more.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20240530101359_EES5158_UpdateNationalStatisticsReleaseType.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/Interfaces/Security/IUserService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Rebase changed the commit hash. Update.
  .git-blame-ignore-revs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6201: Temporarily skip flakey test.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Validators/DataSetDtoValidatorTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

If the release being published is the first one, then there is no previous searchable document to remove. Therefore do not attempt to remove one.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnReleaseVersionPublished/OnReleaseVersionPublishedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseVersionPublished/OnReleaseVersionPublishedFunction.cs
Due: azure-pipelines.dfe.yml
