Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

Switch redirect to permanent
  src/explore-education-statistics-frontend/src/modules/find-statistics/PublicationReleasePage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5940 Draft
  infrastructure/templates/search/application/indexes/index-1.json
  infrastructure/templates/search/application/searchService.bicep
  infrastructure/templates/search/ci/jobs/deploy-infrastructure.yml
  infrastructure/templates/search/ci/tasks/deploy-bicep.yml
  infrastructure/templates/search/components/searchServiceConfig.bicep
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/scripts/SetupSearchService.ps1
Due: none

EES-5940 Add infrastructure for a deployment script which creates the Azure AI Search index, indexer and data source.
  infrastructure/templates/public-api/components/storageAccount.bicep
  infrastructure/templates/search/application/indexes/index-1.json
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/application/searchService.bicep
  infrastructure/templates/search/ci/azure-pipelines.yml
  infrastructure/templates/search/ci/jobs/deploy-infrastructure.yml
  infrastructure/templates/search/ci/tasks/deploy-bicep.yml
  infrastructure/templates/search/components/searchService.bicep
  infrastructure/templates/search/components/searchServiceConfig.bicep
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/scripts/SetupSearchService.ps1
Due: none

PR amends
  src/explore-education-statistics-frontend/src/modules/find-statistics/PublicationReleasePage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Ben's PR suggestions.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/AdminEventRaiserServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Events/ThemeChangedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAdminEventRaiserService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5969 Add middleware to fix SEO indexing
  src/explore-education-statistics-frontend/src/middleware.ts
  src/explore-education-statistics-frontend/src/middleware/pages/noIndexPagesWithParams.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Remove comment as per PR feedback
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/DataBlockDeletePlanModal.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5964 Change Search infrastructure pipeline to use common Deploy Function App template
  infrastructure/common/ci/tasks/deploy-function-app.yml
  infrastructure/templates/analytics/ci/jobs/deploy-analytics-function-app.yml
  infrastructure/templates/search/ci/jobs/deploy-search-docs-function-app.yml
  infrastructure/templates/search/ci/stages/deploy.yml
Due: none

EES-5964 Formatting
  infrastructure/templates/search/ci/azure-pipelines-build.yml
  infrastructure/templates/search/ci/azure-pipelines.yml
Due: none

EES-5912 Prevent screenreader announcing unavailable after button click
  src/explore-education-statistics-common/src/hooks/useButton.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5734 fix export options browser styling
  src/explore-education-statistics-common/src/charts/components/ChartExportButton.module.scss
  src/explore-education-statistics-common/src/charts/components/ChartExportButton.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5734 wrap read only data block component in refContext
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/DataBlockPageReadOnlyTabs.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5953 Forgot to register the new event grid components with the container. Fix.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/PublisherHostBuilderExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

When a theme is updated, raise a ThemeUpdated event
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/ThemeBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/AdminEventRaiserServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Events/ThemeChangedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Builders/Config/EventGridOptionsBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/EventGrid/ConfiguredEventGridClientFactoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/EventGrid/EventGridClientFactoryMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/EventGrid/ConfiguredEventGridClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/ProgramTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/PaginatedResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/PagingDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/PublicationDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseType.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/PublicationInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/GetPaginatedItemsException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToCreateSearchableDocumentException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetPublicationLatestReleaseSearchViewModelException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/CreateSearchableReleaseDocumentInAzureStorageFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnReleaseVersionPublished/Dtos/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnReleaseVersionPublished/OnReleaseVersionPublishedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnThemeUpdated/Dtos/ThemeUpdatedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnThemeUpdated/OnThemeUpdatedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RefreshSearchableDocument/Dto/RefreshSearchableDocumentMessageDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RefreshSearchableDocument/Dto/SearchableDocumentCreatedMessageDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RefreshSearchableDocument/RefreshSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CreatePublicationLatestReleaseSearchableDocumentResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/EventGridEventHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/SearchableDocumentCreator.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/local.settings.json
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiserService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Address Ben's PR improvements
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ContentApiClientBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/PaginatedResultDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/PagingDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/PublicationDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseType.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToCreateSearchableDocumentException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetPublicationLatestReleaseSearchViewModelException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnReleaseVersionPublished/OnReleaseVersionPublishedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/OnThemeUpdated/OnThemeUpdatedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RefreshSearchableDocument/RefreshSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/SearchableDocumentCreator.cs
Due: azure-pipelines.dfe.yml

EES-5898: Update frontend service endpoint argument structure.
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Remove zipfile object persistance/import queue, split archive extraction from validation.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IFileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Move basic data upload validation to request validator functions.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataArchiveValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataImportService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileValidators.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/FileTypeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/FileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/Interfaces/IFileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Validators/FileTypeValidationUtils.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Remove archive handling from data processor/importer.
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/DataImportTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage1Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage2Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage3Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Functions/Processor.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Program.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/DataArchiveService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/Interfaces/IDataArchiveService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/Interfaces/IProcessorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/ProcessorService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Add WithMessage params overload, fix frontend missing validation messages for data set title, move ZIP meta and special character checks to Fluent Validator.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataArchiveValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileValidators.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Extensions/FluentValidationExtensions.cs
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseDataFileReplacePage.tsx
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

style: Formatting
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/AzureSearchHealthCheckStrategy.cs
Due: azure-pipelines.dfe.yml

EES-5974 Rename indexName setting/parameter to indexerName
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/AzureSearch/SearchIndexClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/ProgramTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/AzureSearchIndexerClientWrapper.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/IAzureSearchIndexerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/SearchIndexClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Options/AzureSearchOptions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.Development.json
Due: azure-pipelines.dfe.yml

EES-5974 Enable AzureSearchHealthCheckStrategy
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines.dfe.yml

EES-5974 Configure Azure AI Search REST API endpoint and indexer name
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/application/searchService.bicep
  infrastructure/templates/search/main.bicep
Due: none

EES-5898: Add DataSet types for managing upload, extraction, and validation independently, apply changes to each upload method (file pair, zip, bulk zip).
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataArchiveValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IFileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/FileTypeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/FileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/Interfaces/IFileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/ValidatorService.cs
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseDataFileReplacePage.tsx
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5961 Focus contact form modal trigger button on modal close
  src/explore-education-statistics-admin/src/pages/publication/components/PublicationContactForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5985 Return focus to trigger btn on chart builder delete modal close
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/ChartBuilder.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5986 Ensure focus is returned to modal trigger for publish date modal
  src/explore-education-statistics-admin/src/pages/release/components/ReleaseStatusForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

More PR improvements
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/RefreshSearchableDocument/Dto/RefreshSearchableDocumentMessageDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CreatePublicationLatestReleaseSearchableDocumentResponse.cs
Due: azure-pipelines.dfe.yml

EES-5986 Re-focus submit button when user access modal closes
  src/explore-education-statistics-admin/src/pages/release/pre-release/components/PreReleaseUserAccessForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5741 enable flagged feature (drop commit later)
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Updates Next JS from 14.2.13 to 14.2.25
  pnpm-lock.yaml
  src/explore-education-statistics-frontend/package.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Replace data set upload tuple with result object. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetUploadResult.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

refactor: Correct resource name
  infrastructure/templates/common/components/storageAccountRoleAssignment.bicep
Due: none

EES-5898: Refine collection additions, return if data/meta files aren't found in a collection. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5974 Assign Search Docs Azure Function with a role on the Search Service
  infrastructure/templates/common/components/functionApp.bicep
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/components/searchServiceConfig.bicep
  infrastructure/templates/search/components/searchServiceRoleAssignment.bicep
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/types.bicep
Due: none

Tests to ensure that an event is not raised if the release is not published or if the slug has not changed.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add OnReleaseSlugChanged event to Release updated
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/PublicationCacheServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/RedirectsCacheServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/ReleaseCacheServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/ReleasePublishingStatusBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/ReleasePublishingStatusRepositoryMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/ReleaseVersionServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/TestStartup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Events/ReleaseSlugChangedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAdminEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Removed unused builder
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/ReleasePublishingStatusBuilder.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5974 Change searchServiceConfig to use searchServiceRoleAssignment template.
  infrastructure/templates/search/components/searchServiceConfig.bicep
Due: none

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
