Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

EES-5960 Return focus to modal trigger
  src/explore-education-statistics-admin/src/pages/publication/components/PublicationDetailsForm.tsx
  src/explore-education-statistics-admin/src/pages/publication/components/PublicationUpdateConfirmModal.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5734 update-lock file
  pnpm-lock.yaml
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Testing Publishing Completion Service
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Config/EventGridOptionsBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Models/ReleaseBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Models/ReleaseVersionBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/DataSetPublishingServiceBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventRaiserServiceBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/UnitTestOutputLogger.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/EventRaiserServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Events/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/GovUk.Education.ExploreEducationStatistics.Publisher.csproj
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Options/EventGridOptions.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/PublisherHostBuilderExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/appsettings.json.tmpl
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add unit tests for EventRaiserService - wrapping the EventGridPublisherClient en route
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Config/EventGridOptionsBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventGrid/EventGridPublisherClientBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventGrid/EventGridPublisherClientFactoryBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventGrid/MockResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/EventRaiserServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/PublisherHostBuilderExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventGrid/EventGridPublisherClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventGrid/EventGridPublisherClientWrapper.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventGrid/IEventGridPublisherClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventGrid/IEventGridPublisherClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventRaiserService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Integration Test uses the real client factory
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventGrid/EventGridPublisherClientBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/EventRaiserServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Ensure if publishing event errors or throws that it is logged but does not throw.
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventGrid/EventGridPublisherClientBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventGrid/MockResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/UnitTestOutputLogger.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/EventRaiserServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

More PR goodness
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/EventRaiserServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Events/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Applying Ben's awesome PR feedback
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Config/EventGridOptionsBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventGrid/EventGridPublisherClientFactoryBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/EventGrid/MockResponse.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/UnitTestOutputLogger.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/GovUk.Education.ExploreEducationStatistics.Publisher.csproj
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Options/EventGridOptions.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/EventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IEventRaiserService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/appsettings.example.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5881 - adding permission for the Function App to use the Stoarge Account using managed identity
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

EES-5881 - testing out non-managed identity storage account connection strategy temporarily
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

EES-5881 - testing out non-managed identity storage account connection strategy temporarily
  infrastructure/templates/screener/parameters/main-dev.bicepparam
Due: none

EES-5881 - updated health check endpoint
  infrastructure/templates/screener/application/screenerContainerisedFunctionApp.bicep
Due: none

EES-5967 Public API data set details page - Fixing bug where empty guidance notes appears as a `0`
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/DataSetFileApiChangelog.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5934 Changing the Admin API `GetVersionChanges` endpoint to return a view-model specific to the Data Set Changelog Page
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Public.Data/DataSetVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Mappings/MappingProfiles.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IDataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IPublicDataApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PublicDataApiClient/DataSetVersionChangesViewModelDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PublicDataApiClient/PublicDataApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/Public.Data/DataSetVersionViewModels.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5934 Fixing the Changelog mapping on the BE
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Mappings/MappingProfiles.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IPublicDataApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PublicDataApiClient/DataSetVersionChangesViewModelDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PublicDataApiClient/PublicDataApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/Public.Data/DataSetVersionViewModels.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5934 Fixing FE
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetChangelogPage.test.tsx
  src/explore-education-statistics-common/src/services/types/apiDataSetChanges.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5934 Removing unnecessary parentheses
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PublicDataApiClient/PublicDataApiClient.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5881 - updated source of docker image tag to be variable group
  infrastructure/templates/screener/main.bicep
  infrastructure/templates/screener/parameters/main-dev.bicepparam
  infrastructure/templates/screener/parameters/main-preprod.bicepparam
  infrastructure/templates/screener/parameters/main-prod.bicepparam
  infrastructure/templates/screener/parameters/main-test.bicepparam
Due: none

EES-5967 Public API data set details page - Fixing bug where empty guidance notes appears as a `0` (#5701)
  src/explore-education-statistics-frontend/src/modules/data-catalogue/components/DataSetFileApiChangelog.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5881 - temporarily making Function App Storage Account visible to subnet
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

EES-5881 - temporarily making Function App Storage Account visible to subnet
  infrastructure/templates/screener/ci/tasks/deploy-bicep.yml
Due: none

EES-5734 build check
  pnpm-lock.yaml
  src/explore-education-statistics-admin/package.json
  src/explore-education-statistics-common/src/charts/components/ChartExportButton.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5734 revert lock file to previous
  pnpm-lock.yaml
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5734 lock file install-peers false
  pnpm-lock.yaml
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5731 Added filter hierachy trees
  src/explore-education-statistics-common/src/modules/charts/components/MapBlock.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/TableToolWizard.tsx
  src/explore-education-statistics-common/src/services/tableBuilderService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Remove archive handling from data processor/importer.
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/DataImportTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage1Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage2Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorStage3Tests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor.Tests/Functions/ProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Functions/Processor.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Program.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/DataArchiveService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/Interfaces/IDataArchiveService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/Interfaces/IProcessorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/ProcessorService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5734 fix lock file
  pnpm-lock.yaml
  src/explore-education-statistics-common/package.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5881 - experimenting
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

Chopping out settings
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

EES-5898: Move basic data upload validation to request validator functions.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/ReleaseVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataArchiveValidationServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/ReleaseVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataArchiveValidationService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataImportService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/FileValidators.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/FileTypeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/FileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/Interfaces/IFileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Validators/FileTypeValidationUtils.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Update containerisedFunctionApp.bicep
  infrastructure/templates/common/components/containerisedFunctionApp.bicep
Due: none

EES-5433 Remove boundaryLevel from TableDataQuery
  src/GovUk.Education.ExploreEducationStatistics.Data.ViewModels/LocationViewModelBuilder.cs
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/ChartBuilder.tsx
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/ChartBuilderTabSection.tsx
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/__tests__/ChartBuilder.test.tsx
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/__tests__/ChartBuilderTabSection.test.tsx
  src/explore-education-statistics-common/src/services/tableBuilderService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Implement reindexer function
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/EventGridEventBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/FunctionContextBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/HeathCheckStrategyBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/LoggerBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/AzureSearch/SearchIndexClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/HealthChecks/HealthCheckFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/ProgramTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/EventGridEventHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/AzureSearchIndexerClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/AzureSearchIndexerClientWrapper.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/IAzureSearchIndexerClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/IAzureSearchIndexerClientFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/ISearchIndexClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/SearchIndexClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ObjectExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/CreateSearchableReleaseDocumentInAzureStorageFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/Dtos/ReleasePublishedMessage.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/Dtos/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CreateSearchableReleaseDocuments/Dtos/SearchDocumentCreatedMessageDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/AzureSearchHealthCheckStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/ReindexSearchDocuments/ReindexSearchDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Options/AzureSearchOptions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/EventGridEventHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.Development.json
Due: azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5734 fix ci tests
  src/explore-education-statistics-admin/src/pages/release/datablocks/__tests__/ReleaseDataBlockEditPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/chart/__tests__/ChartBuilder.test.tsx
  src/explore-education-statistics-common/src/modules/charts/components/__tests__/ChartRenderer.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Update frontend service endpoint argument structure.
  src/explore-education-statistics-admin/src/services/releaseDataFileService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
