Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

EES-7596 - updated Key Vault and vnet integration config. Removed legacy vnet integration Bicep template files
  infrastructure/parameters/dev.parameters.json
  infrastructure/parameters/pre-prod.parameters.json
  infrastructure/parameters/prod.parameters.json
  infrastructure/parameters/test.parameters.json
  infrastructure/templates/admin/main.bicep
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/bicep-main-infrastructure-release/configuration/importer-configuration.bicep
  infrastructure/templates/bicep-main-infrastructure-release/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-preprod.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-test.bicepparam
  infrastructure/templates/common/components/app-service/app-service.bicep
  infrastructure/templates/common/components/app-service/slot-virtual-network-link.bicep
  infrastructure/templates/common/components/app-service/swap-slot.bicep
  infrastructure/templates/common/components/app-service/virtual-network-link.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/content-api/main.bicep
  infrastructure/templates/data-api/main.bicep
  infrastructure/templates/importer/main.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
  infrastructure/templates/template.json
Due: none

EES-7596 - removing Azure SQL passwords from pipeline variables, in favour of looking up directly from Key Vault in the Bicep template.
  infrastructure/templates/bicep-main-infrastructure-release/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/resource-names.bicep
Due: none

EES-7596 - added Admins subnet to a list of subnets that can access Importers storage account.
  infrastructure/templates/importer/main.bicep
Due: none

EES-7596 - force local function app traffic for non-elastic plans to go out over VNet so that private storage accounts can be reached.
  infrastructure/templates/common/components/function-app/function-app.bicep
Due: none

EES-7596 - added Admins subnet to a list of subnets that can access Importers storage account.
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/importer/main.bicep
Due: none

EES-7431 - creating secret with correct vault uri.
  infrastructure/templates/common/components/function-app/function-app.bicep
Due: none

EES-7595 - removed old duplicate config types from top-level types file.
  infrastructure/templates/bicep-main-infrastructure-release/types.bicep
Due: none

EES-7595 - removing Publisher ARM parameters from environment param files.
  infrastructure/parameters/dev.parameters.json
  infrastructure/parameters/pre-prod.parameters.json
  infrastructure/parameters/prod.parameters.json
  infrastructure/parameters/test.parameters.json
  infrastructure/templates/template.json
Due: none

EES-7595 - removed unused ARM variable.
  infrastructure/templates/template.json
Due: none

EES-7595 - migrated Publisher Function App out of the ARM template and into Bicep. Removed the function app existence checks from the base function-app.bicep template.
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/bicep-main-infrastructure-release/configuration/importer-configuration.bicep
  infrastructure/templates/bicep-main-infrastructure-release/configuration/publisher-configuration.bicep
  infrastructure/templates/bicep-main-infrastructure-release/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-dev.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-preprod.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-test.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/resource-names.bicep
  infrastructure/templates/common/components/app-service-plan/function-app-service-plan.bicep
  infrastructure/templates/common/components/app-service-plan/types.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/common/types.bicep
  infrastructure/templates/importer/main.bicep
  infrastructure/templates/publisher/main.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
  infrastructure/templates/template.json
Due: none

EES-7595 - adding in missing Publisher storage connectionstring
  infrastructure/templates/publisher/main.bicep
Due: none

EES-7594 - migrated Notifier Function App out of ARM and into Bicep.
  infrastructure/parameters/dev.parameters.json
  infrastructure/parameters/pre-prod.parameters.json
  infrastructure/parameters/prod.parameters.json
  infrastructure/parameters/test.parameters.json
  infrastructure/templates/bicep-main-infrastructure-release/configuration/notifier-configuration.bicep
  infrastructure/templates/bicep-main-infrastructure-release/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-dev.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-preprod.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-test.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/resource-names.bicep
  infrastructure/templates/common/abbreviations.bicep
  infrastructure/templates/notifier/main.bicep
  infrastructure/templates/public-api/abbreviations.bicep
  infrastructure/templates/public-api/main.bicep
  infrastructure/templates/template.json
Due: none

EES-7369: Set null on referenced EIN tiles.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20260915160958_Ees7369NullEinTileReleaseIdOnDelete.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20260915160958_Ees7369NullEinTileReleaseIdOnDelete.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model.Tests/EinTilePersistenceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/EinContent.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - [WIP]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ManagePublicApiDataSetPreviewTokensAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ManagePublicApiDataSetsAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/SecurityPolicies.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/StartupSecurityConfiguration.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Security/UserServiceExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PreviewTokenService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseDataPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ReleaseApiDataSetsSection.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Adding remaining BE Authorization checks for all Public API Controller endpoints
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetVersionMappingServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Public.Data/DataSetVersionMappingController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewPublicApiDataSetsAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/SecurityPolicies.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/StartupSecurityConfiguration.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Security/UserServiceExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetCandidateService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PreviewTokenService.cs
  src/explore-education-statistics-admin/src/routes/releaseRoutes.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7289 - FE changes to hide any actions that an Analyst should not be able to perform
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Security/PermissionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/GlobalPermissionsViewModel.cs
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetChangelogPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetDetailsPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseDataFileReplacePage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ApiDataSetAutoMappedTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ApiDataSetMappableTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DraftApiDataSetsTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/LiveApiDataSetsTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/ReleaseApiDataSetsSection.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ApiDataSetPreviewTokenCreateForm.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFilesReplacementTableRow.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/PendingDataReplacementSection.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/hooks/useIsMappingActionsReadOnly.ts
  src/explore-education-statistics-admin/src/services/authService.ts
  src/explore-education-statistics-admin/src/services/permissionService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Simplifying BE authorization checks
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetVersionMappingServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Security/PermissionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ManagePublicApiDataSetPreviewTokensAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ManagePublicApiDataSetsAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewPublicApiDataSetsAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Security/UserServiceExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetCandidateService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PreviewTokenService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Fixing authorization handlers + change tracking error
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ManagePublicApiDataSetPreviewTokensAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewPublicApiDataSetsAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PreviewTokenService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Adding BE tests
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetCandidatesControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetVersionMappingControllerIndicatorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetVersionMappingControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Public.Data/PreviewTokenControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/Security/PermissionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ManagePublicApiDataSetPreviewTokensAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ManagePublicApiDataSetsAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewPublicApiDataSetsAuthorizationHandlerTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Adding FE tests
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetChangelogPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetDetailsPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ApiDataSetAutoMappedTable.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ApiDataSetMappableTable.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DraftApiDataSetsTable.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/LiveApiDataSetsTable.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ReleaseApiDataSetsSection.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Fixing FE unit tests
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetFiltersMappingPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetIndicatorsMappingPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetLocationsMappingPage.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Changing some wording of certain error messages/dialogs for Standard Users compared to Super Users
  src/explore-education-statistics-admin/src/pages/release/components/ReleaseStatusChecklist.tsx
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetDetailsPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetDetailsPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementPlan.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFilesTableRow.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ReleaseDataUploadsSection.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Adding robot tests
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ApiDataSetPreviewTokenCreateForm.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
  tests/robot-tests/tests/public_api/public_api_standard_user_permissions.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Changing some wording
  src/explore-education-statistics-admin/src/pages/release/components/ReleaseStatusChecklist.tsx
  src/explore-education-statistics-admin/src/pages/release/components/__tests__/ReleaseStatusChecklist.test.tsx
  tests/robot-tests/tests/public_api/public_api_restricted.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Fixing FE Jest tests
  src/explore-education-statistics-admin/src/pages/release/components/ReleaseStatusChecklist.tsx
  src/explore-education-statistics-admin/src/pages/release/components/__tests__/ReleaseStatusChecklist.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7389 - Addressing PR comments
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetChangelogPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/ReleaseApiDataSetDetailsPage.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetDetailsPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetVersionHistoryPage.test.tsx
  src/explore-education-statistics-admin/src/routes/releaseRoutes.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7369: Fix scheduled methodology FK on release version deletion by moving call order.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Fixtures/SqliteContentDbContextFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7369: Clear EIN tiles when the underlying data is deleted.
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Fixture/EinTestData.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/BulkDeleteDataSetVersionsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/DeleteDataSetVersionFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7369: Remove orphaned subjects.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7369: Remove ReleasePublishingStatus record regardless of approval state.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7369: Remove all stale searchable documents, not just the latest release.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/AdminEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/AdminEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/AdminEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IAdminEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ThemeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/EventHandlers/OnPublicationDeleted/OnPublicationDeletedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnPublicationDeleted/Dtos/PublicationDeletedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnPublicationDeleted/OnPublicationDeletedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Events/PublicationDeletedEvent.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7369: Count soft-deleted ReleaseVersions when deciding whether a Release is now empty, so it isn't removed whilst references exist.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix flaky FormModal tests by replacing delay functions with manual resolution.
  src/explore-education-statistics-admin/src/components/__tests__/FormModal.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7651 - Report UI test results to Teams from the test runner
  .github/workflows/verify-robot-tests.yml
  azure-pipelines-run-ui-test-suite.yml
  azure-pipelines-ui-tests.yml
  tests/robot-tests/.env.example
  tests/robot-tests/run_tests.py
  tests/robot-tests/scripts/send_teams_pipeline_report.py
  tests/robot-tests/scripts/send_teams_unreported_suites.py
  tests/robot-tests/tests/libs/azure_pipelines.py
  tests/robot-tests/tests/libs/azure_pipelines_test.py
  tests/robot-tests/tests/libs/run_results.py
  tests/robot-tests/tests/libs/run_results_test.py
  tests/robot-tests/tests/libs/slack.py
  tests/robot-tests/tests/libs/slack_test.py
  tests/robot-tests/tests/libs/teams.py
  tests/robot-tests/tests/libs/teams_test.py
  tests/robot-tests/tests/libs/ui_test_notification.py
  tests/robot-tests/tests/libs/ui_test_notification_test.py
  tests/robot-tests/tests/libs/ui_test_notifier.py
  tests/robot-tests/tests/libs/ui_test_notifier_test.py
  tests/robot-tests/tests/libs/unreported_suites_test.py
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7651 Log skipped channels only during message delivery, not notifier creation.
  tests/robot-tests/tests/libs/ui_test_notifier.py
  tests/robot-tests/tests/libs/ui_test_notifier_test.py
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7651 - Always report the outcome of a UI test run to a chat channel
  tests/robot-tests/run_tests.py
  tests/robot-tests/tests/libs/send_test_report_test.py
  tests/robot-tests/tests/libs/ui_test_notification.py
  tests/robot-tests/tests/libs/ui_test_notification_test.py
  tests/robot-tests/tests/libs/ui_test_notifier.py
  tests/robot-tests/tests/libs/ui_test_notifier_test.py
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7642 Add PublishingOrganisations to ReleaseSearchableDocumentDto returned by Content API (#7341)
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Builders/Releases/ReleaseSearchableDocumentDtoBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/Releases/ReleaseSearchableDocumentsServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Releases/Dtos/ReleaseSearchableDocumentDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Releases/ReleaseSearchableDocumentsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7632 Add PublishingOrganisationIds and PublishingOrganisationTitles to ReleaseSearchableDocument metadata
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ReleaseSearchableDocumentBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Extensions/ReleaseSearchableDocumentExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSearchViewModelDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSearchableDocumentDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSearchableDocument.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ReleaseSearchableDocumentExtensions.cs
Due: azure-pipelines.dfe.yml

EES-7632 Handle JsonException in ContentApiClient
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
Due: azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
