Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

Fix Published date formatting and update test case. Published should be in 24-hour clock format.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Extensions/ReleaseSearchableDocumentExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ReleaseSearchableDocumentExtensions.cs
Due: azure-pipelines.dfe.yml

EES-7632 Update ReleaseSearchableDocument to add OrderedEquality annotation for PublishingOrganisations, and add unit tests to verify equality.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Domain/ReleaseSearchableDocumentTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSearchableDocument.cs
Due: azure-pipelines.dfe.yml

EES-7651 - Convert alert time format to GMT/BST
  infrastructure/templates/core/application/alerts/alerts-logic-app-definition.json
Due: none

EES-7632 Update ContentApiClientTests for recent seed data changes
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
Due: azure-pipelines.dfe.yml

EES-7632 Add PublishingOrganisationIds and PublishingOrganisationTitles to ReleaseSearchableDocument blob metadata (#7343)
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ReleaseSearchableDocumentBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Domain/ReleaseSearchableDocumentTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Extensions/ReleaseSearchableDocumentExtensionsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSearchViewModelDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSearchableDocumentDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSearchableDocument.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ReleaseSearchableDocumentExtensions.cs
Due: azure-pipelines.dfe.yml

EES-6728 - [WIP] Bash scripts to create the new VMSS and bootstrap what we need
  infrastructure/scripts/create-vmss-agent-pool.sh
  infrastructure/scripts/vmss-agent-bootstrap.sh
Due: none

EES-7660 Increase capacity of the Content database in production from 4Gb to 6Gb.
  infrastructure/parameters/prod.parameters.json
Due: none

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6728 - Fix create-vmss-agent-pool.sh for Git Bash on Windows
  infrastructure/scripts/create-vmss-agent-pool.sh
Due: none

EES-7660 Increase capacity of the Content database in production from 4Gb to 6Gb. (#7360)
  infrastructure/parameters/prod.parameters.json
Due: none

EES-7634 Add publishingOrganisationIds and publishingOrganisationTitles fields (#7346)
  infrastructure/templates/search/application/indexes/nl-search/nl-search-dataset-index.json
Due: none

EES-7631 Add new publishing organisation fields to Azure AI Search index used by the 'Statistical releases' tab of Combined Search (#7342)
  infrastructure/templates/search/application/indexer-output-field-mappings/search/index-1.json
  infrastructure/templates/search/application/indexes/search/index-1.json
Due: none

EES-7293 - fixing tests and linting after rebase
  src/explore-education-statistics-admin/src/components/RouteLeavingGuard.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetChangelogPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetDetailsPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetFiltersMappingPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetIndicatorsMappingPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetLocationsMappingPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseApiDataSetVersionHistoryPage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/LiveApiDataSetsTable.test.tsx
  src/explore-education-statistics-admin/src/pages/release/pre-release/__tests__/PreReleaseTableToolPage.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7241 - adding tests
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementDifferences.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Adds Filter data replacement table
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferences.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesMappingModal.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementFilterDifferencesTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementDifferences.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementDifferencesTable.test.tsx
  src/explore-education-statistics-admin/src/services/dataReplacementService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7241 - updating changed filter immediately
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferences.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementDifferences.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7241 - adding some error handling
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferences.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesMappingModal.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementFilterDifferencesTable.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7241 - Updating modal
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesMappingModal.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7241 - adding missing filters in tests that were causing build failures
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseDataFileReplacePage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFilesReplacementTableRow.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ReleaseDataUploadsSection.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7241 - updating modal
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesMappingModal.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7241 - changes from PR
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferences.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesMappingModal.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementFilterDifferencesTable.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7651 - Replace `current_artifacts_url` with `current_results_url` for correct test results links and improve Slack archive handling with failure safeguards
  tests/robot-tests/run_tests.py
  tests/robot-tests/scripts/send_teams_unreported_suites.py
  tests/robot-tests/tests/libs/azure_pipelines.py
  tests/robot-tests/tests/libs/azure_pipelines_test.py
  tests/robot-tests/tests/libs/slack.py
  tests/robot-tests/tests/libs/slack_test.py
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7241 - fixing tests after rebase
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementFilterDifferencesTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementDifferences.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Ees 7241 data replacement filters fe (#7295)
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseDataFileReplacePage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferences.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesMappingModal.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementDifferencesTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementFilterDifferencesTable.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementDifferences.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementDifferencesTable.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFilesReplacementTableRow.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/ReleaseDataUploadsSection.test.tsx
  src/explore-education-statistics-admin/src/services/dataReplacementService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-7596 - updated Key Vault and vnet integration config. Removed legacy vnet integration Bicep template files
  infrastructure/parameters/dev.parameters.json
  infrastructure/parameters/pre-prod.parameters.json
  infrastructure/parameters/prod.parameters.json
  infrastructure/parameters/test.parameters.json
  infrastructure/templates/admin/main.bicep
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/bicep-main-infrastructure-release/configuration/importer-configuration.bicep
  infrastructure/templates/bicep-main-infrastructure-release/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-preprod.bicepparam
  infrastructure/templates/bicep-main-infrastructure-release/parameters/main-test.bicepparam
  infrastructure/templates/common/components/app-service/app-service.bicep
  infrastructure/templates/common/components/app-service/slot-virtual-network-link.bicep
  infrastructure/templates/common/components/app-service/swap-slot.bicep
  infrastructure/templates/common/components/app-service/virtual-network-link.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/content-api/main.bicep
  infrastructure/templates/data-api/main.bicep
  infrastructure/templates/importer/main.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
  infrastructure/templates/template.json
Due: none

EES-7596 - used keyVaultRef function in function-app.bicep template. Moved to common.
  infrastructure/templates/admin/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/functions.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/common/functions.bicep
  infrastructure/templates/content-api/main.bicep
  infrastructure/templates/data-api/main.bicep
  infrastructure/templates/importer/main.bicep
Due: none

EES-7596 - reverting change to non-elastic plan scales
  infrastructure/templates/common/components/function-app/function-app.bicep
Due: none

EES-7596 - updated importer SKU configuration to draw from Function App-specific plans.
  infrastructure/templates/bicep-main-infrastructure-release/configuration/importer-configuration.bicep
  infrastructure/templates/common/components/app-service-plan/types.bicep
Due: none

EES-7596 - added Admins subnet to a list of subnets that can access Importers storage account.
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/importer/main.bicep
Due: none

EES-7596 - passing subnet id rather than name to function app template.
  infrastructure/templates/importer/main.bicep
Due: none

EES-7596 - migrated importer out of ARM and into Bicep.
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/bicep-main-infrastructure-release/main.bicep
  infrastructure/templates/bicep-main-infrastructure-release/resource-names.bicep
  infrastructure/templates/common/components/app-service/app-service.bicep
  infrastructure/templates/common/components/app-service/types.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/common/types.bicep
  infrastructure/templates/importer/main.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
Due: none

EES-7596 - force local function app traffic for non-elastic plans to go out over VNet so that private storage accounts can be reached.
  infrastructure/templates/common/components/function-app/function-app.bicep
Due: none

EES-7596 - making Function App Bicep templates kebab-case
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/common/components/function-app/containerised-function-app.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/screener/application/screenerContainerisedFunctionApp.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
Due: none

EES-7431 - creating secret with correct vault uri.
  infrastructure/templates/common/components/function-app/function-app.bicep
Due: none

EES-7596 - supplying log analytics workspace id for diagnostic settings..
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/importer/main.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
Due: none

EES-7596 - stop setting elastic SKU-specific settings in non-elastic Function Apps.
  infrastructure/templates/analytics/application/analyticsFunctionApp.bicep
  infrastructure/templates/common/components/function-app/function-app.bicep
  infrastructure/templates/search/application/nlSearchFunctionApp.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
Due: none

EES-7596 - corrected SKU type for Screener Function App.
  infrastructure/templates/screener/main.bicep
Due: none

EES-7596 - added Admins subnet to a list of subnets that can access Importers storage account.
  infrastructure/templates/importer/main.bicep
Due: none

EES-7431 - correcting function app scale config for non-elastic plans.
  infrastructure/templates/common/components/function-app/function-app.bicep
Due: none

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
