Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

Added: List blobs in container
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/AzureBlobStorage/AzureBlobStorageClientIntegrationTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/AzureBlobStorageClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/IAzureBlobStorageClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSearchableDocument.cs
Due: azure-pipelines.dfe.yml

Added: Get Release Summary
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/FullReset/FullResetFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnThemeUpdated/OnThemeUpdatedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/ResetSearchableDocuments/FullSearchableDocumentResetterTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/Dtos/ReleaseSummaryDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/PublicationInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Domain/ReleaseSummary.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleasesForPublicationException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/BlankExtensions.cs
Due: azure-pipelines.dfe.yml

EES-6109 - added processing batches of files to common analytics request processor workflow for better performance.
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/MockBuilders/WorkflowActorMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/ProcessRequestFilesWorkflowTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/DirectJsonCopyWorkflowActorBase.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetCallsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetVersionCallsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiQueriesProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicCsvDownloadsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicZipDownloadsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Workflow/ProcessRequestFilesWorkflow.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Extensions/EnumerableExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-4016 - allowing filenames with same letters but different case to be valid replacement filenames
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetValidatorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidator.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5548 - updated UI tests to be in line with UI changes
  tests/robot-tests/tests/admin_and_public/bau/data_reordering.robot
  tests/robot-tests/tests/admin_and_public_2/bau/publish_release_and_amend.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Integration test for retrieving a publication - use a seed publication.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
Due: azure-pipelines.dfe.yml

Tidy up test
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnThemeUpdated/OnThemeUpdatedFunctionTests.cs
Due: azure-pipelines.dfe.yml

Rename Report to CheckSearchableDocumentsReport
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/CheckSearchableDocumentsReport.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/Report.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/SearchableDocumentChecker.cs
Due: azure-pipelines.dfe.yml

Replaced ArgumentOutOfRangeExceptions with the more appropriate UnreachableException. The GetResponse only has Success and Error states.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
Due: azure-pipelines.dfe.yml

Move DiffExtensions into own file
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/BlankExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/DiffExtensions.cs
Due: azure-pipelines.dfe.yml

Tidy up of semicolons.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines.dfe.yml

Change `private init` to `init`
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseSummaryViewModel.cs
Due: azure-pipelines.dfe.yml

Use collection initialisers
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/SearchableDocumentCheckerTests.cs
Due: azure-pipelines.dfe.yml

Rename SearchDocumentCheckFunction to SeachableDocumentCheckFunciton. Consolidate the way we handled the unused HttpRequest parameter.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/FullReset/FullResetFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/HealthCheckFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/SearchableDocumentCheckFunction.cs
Due: azure-pipelines.dfe.yml

Remove superfluous type params
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseSummaryRetriever.cs
Due: azure-pipelines.dfe.yml

It is not helpful for Error message to be null. Code paths don't expect it to be null either.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleasesForPublicationException.cs
Due: azure-pipelines.dfe.yml

Move exceptions into their own files
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleaseSummaryForPublicationException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleasesForPublicationException.cs
Due: azure-pipelines.dfe.yml

Update Microsoft.Network/virtualNetworks API versions.
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/application/searchService.bicep
Due: none

PR Comments
  README.md
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Update readme to instruct developers to workaround the following error when creating a new migration using dotnet cli ef commands:
  README.md
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Tidy up main.bicep
  infrastructure/templates/search/application/searchDocsFunctionApp.bicep
  infrastructure/templates/search/main.bicep
Due: none

EES-6036 Draft
  infrastructure/templates/search/application/shared/virtualNetwork.bicep
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/types.bicep
Due: none

Update readme to instruct developers to workaround the following erro… (#5969)
  README.md
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

If a release summary can not be retrieved, log it and carry on. Make our tool more resilient to the duff data in Dev.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ContentApiClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/CheckSearchableDocuments/ReleaseSummaryRetrieverTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/CheckSearchableDocuments/ReleaseSummaryRetriever.cs
Due: azure-pipelines.dfe.yml

EES-6222 Increase maximum number of facet terms count from 60 to 150 to accommodate growing number of themes in Dev environment
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
  tests/robot-tests/tests/snapshots/methodologies_snapshot.json
  tests/robot-tests/tests/snapshots/table_tool_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6217 fixed: created datablock maps now load with geoJson on render
  src/explore-education-statistics-admin/src/pages/release/datablocks/components/DataBlockPageTabs.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-XXXX - updated expected text for action link
  tests/robot-tests/tests/admin_and_public/bau/subject_reordering.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Update node version from 20.16.0 to 20.19.2
  .nvmrc
  README.md
  azure-pipelines-main.yml
  docker/public-frontend/Dockerfile
  infrastructure/templates/public-api/ci/jobs/deploy-api-docs.yml
  infrastructure/templates/template.json
  package.json
  tests/performance-tests/Dockerfile-node-chromium
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6109 - updated Processor tests to match new changes to workflow
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetVersionCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiPublicationCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiQueriesProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiTopLevelCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicCsvDownloadsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicZipDownloadsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/MockBuilders/WorkflowActorMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Workflow/ProcessRequestFilesWorkflow.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5822 - upping timeout on wait for analytics to be written by Public API tests to make pipeline build more reliable. Updating performance test docs after testing perf tests on Node upgrade branch.
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Analytics/AnalyticsTestUtils.cs
  tests/performance-tests/README.md
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6091 - adding existing Public API queries analytics code into AnalyticsService. Adding Preview Tokens and requested data set versions to set of data being captured for Public API queries.
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/Queries/WithPreviewTokenAndRequestedDataSetVersion.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiQueriesProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiQueriesProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWritePublicApiQueryStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWritePublicApiQueryStrategyTests.ReportTests.CallWrittenSuccessfully_WithCoreQueryDetails.snap
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWritePublicApiQueryStrategyTests.ReportTests.CallWrittenSuccessfully_WithPreviewTokenAndRequestedDataSetVersion.snap
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EE-6091 - added capturing of Public API "Get Changes" calls to analytics. Omitting calls that originate from the EES service, either via Admin or the front-end code.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/PublicDataApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetVersionsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Extensions/HttpClientExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Constants/RequestHeaderNames.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetVersionChangeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/PreviewTokenService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Security/AuthorizationHandlerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Utils/Requests/RequestHeaderNames.cs
  src/explore-education-statistics-common/src/services/api/index.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP Add layout changes for find stats azure search when query param present
  pnpm-lock.yaml
  src/explore-education-statistics-common/src/styles/utils/_flex.scss
  src/explore-education-statistics-frontend/package.json
  src/explore-education-statistics-frontend/src/components/FilterResetButtonAzureSearch.module.scss
  src/explore-education-statistics-frontend/src/components/FilterResetButtonAzureSearch.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/FiltersAzureSearch.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6091 - adding clearer comments
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP processing search results in query fn
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP separate query method for azure
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/utils/createPublicationListRequest.ts
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Start rendering results, fix pagination query options
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Refactoring current solution
  src/explore-education-statistics-common/src/services/publicationService.ts
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageCurrent.tsx
  src/explore-education-statistics-frontend/src/queries/azurePublicationQueries.ts
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml
