Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure

Refactoring current solution
  src/explore-education-statistics-common/src/services/publicationService.ts
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageCurrent.tsx
  src/explore-education-statistics-frontend/src/queries/azurePublicationQueries.ts
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Start rendering results, fix pagination query options
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Render highlighted content in results and add in faceted filtering
  src/explore-education-statistics-common/src/services/publicationService.ts
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/PublicationSummary.module.scss
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/PublicationSummary.tsx
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Wire up sort functionality
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/utils/createAzurePublicationListRequest.ts
  src/explore-education-statistics-frontend/src/queries/azurePublicationQueries.ts
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Move Azure search-related config into .env file
  src/explore-education-statistics-frontend/.env
  src/explore-education-statistics-frontend/next.config.js
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
  src/explore-education-statistics-frontend/src/types/env.d.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix prefetch query mismatch
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Return facet results to find stats page
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/FiltersAzureSearch.tsx
  src/explore-education-statistics-frontend/src/queries/azurePublicationQueries.ts
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Update search result interface and faceting after EES-6123 merged
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/FiltersAzureSearch.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/utils/createAzurePublicationListRequest.ts
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix publication slugs in search results
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Minor tweaks
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Sort results in filter selects and append (0) if no results for each option
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Show facet option result counts in filter selects
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/FiltersAzureSearch.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Increase facet count for theme
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

If for some reason the task is cancelled, we want the call to throw so that it is retried.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/TestableCommandHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/Core/CommandHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/Core/ICommandHandler.cs
Due: azure-pipelines.dfe.yml

EES-6107 Add LatestPublishedReleaseId and PreviousLatestPublishedReleaseVersionId to ReleaseVersionPublishedEvent
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseVersionPublished/Dtos/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Events/ReleaseVersionPublishedEvent.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6129 - added the capture of the "Download CSV" Public API endpoint
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetCallsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Extensions/DateTimeOffsetExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Fixture/TestApplicationFactory.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Security/AuthorizationHandlers/ViewDataSetVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Services/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Controllers/DataSetsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Security/AuthorizationHandlers/QueryDataSetVersionAuthorizationHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IPreviewTokenService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/LocalAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/PreviewTokenService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Security/AuthorizationHandlerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWriteDataSetVersionCallsStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model.Tests/Fixtures/DataSetVersionGeneratorExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model.Tests/Fixtures/PreviewTokenGeneratorExtensions.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add mock to get tests passing
  src/explore-education-statistics-frontend/src/modules/find-statistics/__tests__/FindStatisticsPage.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6156 Saving work
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWritePublicApiQueryStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/Interfaces/IAnalyticsWriteStrategy.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6129 - added tests for new AnalyticsWriteDataSetVersionLevelCallsStrategy strategy. Used generated JSON to be the basis of JSON files tested in PublicApiDataSetVersionCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetVersionCalls/WithPreviewTokenAndRequestedDataSetVersion.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetVersionCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWriteDataSetVersionLevelCallsStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWriteDataSetVersionCallsStrategyTests.ReportTests.CallWrittenSuccessfully_WithCoreDataSetVersionDetails.snap
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWriteDataSetVersionCallsStrategyTests.ReportTests.CallWrittenSuccessfully_WithParameters.snap
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/__snapshots__/AnalyticsWriteDataSetVersionCallsStrategyTests.ReportTests.CallWrittenSuccessfully_WithPreviewTokenAndRequestedDataSetVersion.snap
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5872 Add noindex header to /csv endpoints
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Controllers/DataSetFilesController.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Controllers/DataSetsController.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP adding jest tests for azure search
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/__tests__/FindStatisticsPageAzure.test.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/__tests__/__data__/testFacetData.ts
  src/explore-education-statistics-frontend/src/modules/find-statistics/__tests__/__data__/testPublications.ts
  src/explore-education-statistics-frontend/src/services/__mocks__/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Improve comments
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseVersionPublished/Dtos/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Events/ReleaseVersionPublishedEvent.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Add required keyword to EventPayload.PreviousLatestPublishedReleaseId and EventPayload.PreviousLatestPublishedReleaseVersionId
  src/GovUk.Education.ExploreEducationStatistics.Events/ReleaseVersionPublishedEvent.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 enable search & UI bugfixes
  src/explore-education-statistics-common/src/components/form/FormCheckbox.tsx
  src/explore-education-statistics-common/src/components/form/FormSearchBar.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchy.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.module.scss
  src/explore-education-statistics-common/src/modules/table-tool/components/FilterHierarchyOptions.tsx
  src/explore-education-statistics-common/src/modules/table-tool/components/FiltersForm.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6019 added UI tests
  src/explore-education-statistics-common/src/modules/table-tool/components/__tests__/FiltersForm.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Changes to `ReleaseVersionPublishedEvent` (#5881)
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnReleaseVersionPublished/OnReleaseVersionPublishedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseVersionPublished/Dtos/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseVersionPublished/OnReleaseVersionPublishedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Events/ReleaseVersionPublishedEvent.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Catch exception when URL is invalid so that we can report what the value is.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureSearch/AzureSearchIndexerClientFactory.cs
Due: azure-pipelines.dfe.yml

Add logging to the heathcheck strategies. Fix a couple of minor issues/typos.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/HealthChecks/Strategies/AzureBlobStorageHealthCheckStrategyIntegrationTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/HealthChecks/Strategies/ContentApiHealthCheckStrategyIntegrationTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/FullReset/FullResetFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/HealthCheckFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/AzureBlobStorageHealthCheckStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/AzureSearchHealthCheckStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/ContentApiHealthCheckStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.csproj
Due: azure-pipelines.dfe.yml

split any instances of "healthcheck" into separate words
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/HealthCheckFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/AzureBlobStorageHealthCheckStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/HealthChecks/Strategies/AzureSearchHealthCheckStrategy.cs
Due: azure-pipelines.dfe.yml

EES-6169 Associate Search Application Insights with common Log Analytics workspace
  infrastructure/templates/public-api/components/appInsights.bicep
  infrastructure/templates/search/application/monitoring.bicep
  infrastructure/templates/search/main.bicep
  infrastructure/templates/search/types.bicep
Due: none

fixing ui test failure in manage_users_page.robot
  tests/robot-tests/tests/admin/bau/manage_users_page.robot
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

chore(tests): update test snapshots
  tests/robot-tests/tests/snapshots/data_catalogue_snapshot.json
  tests/robot-tests/tests/snapshots/find_statistics_snapshot.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6169 Add support to Function App component for a Diagnostic Setting to sends logs and metrics to Log Analytics. Disabled by default.
  infrastructure/templates/common/components/functionApp.bicep
  infrastructure/templates/common/components/monitoring/functionAppDiagnosticSetting.bicep
Due: none

EES-6169 Enable Diagnostic Setting to send logs and metrics to Log Analytics for the Search Function App.
  infrastructure/templates/search/application/searchDocsFunction.bicep
  infrastructure/templates/search/main.bicep
Due: none

Refactor API dataset version handling to support replacements of data set versions that are not major version increments.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/DataReplacementControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Repositories/DataSetVersionRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetVersionRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ApiDataSetVersionPlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DataReplacementPlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DeleteDataFilePlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ReplacementApiDataSetVersionPlanViewModel.cs
  src/explore-education-statistics-admin/src/App.tsx
  src/explore-education-statistics-admin/src/contexts/FeatureFlagContext.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementPlan.tsx
  src/explore-education-statistics-admin/src/services/dataReplacementService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Extract logging into a separate extension method
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
Due: azure-pipelines.dfe.yml

Delegate console and app insights logging to Serilog. Disable the default Azure Function logging to both to remove duplicates. Remove unused logging settings from appsettings and host.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/ServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.Development.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/appsettings.json
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/host.json
Due: azure-pipelines.dfe.yml

Remove unused usings
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/SearchableDocumentCreatorMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/SearchableDocumentRemoverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/FullReset/FullResetFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationArchived/OnPublicationArchivedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationChanged/OnReleaseSlugChangedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationLatestPublishedReleaseVersionChanged/OnPublicationLatestPublishedReleaseReorderedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnPublicationRestored/OnPublicationRestoredFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnReleaseSlugChanged/OnReleaseSlugChangedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnThemeUpdated/OnThemeUpdatedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RefreshSearchableDocument/RefreshSearchableDocumentFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/ProgramTests.cs
Due: azure-pipelines.dfe.yml
