Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

Add FullSearchableDocumentReseter - which coordinates the full reset
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/FullSearchableDocumentReseter.cs
Due: azure-pipelines.dfe.yml

Add Delete all Blobs to Azure Blob Storage Client
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/AzureBlobStorageClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/IAzureBlobStorageClient.cs
Due: azure-pipelines.dfe.yml

Move the services into their own folders. Adjust namespaces.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/ResetSearchableDocuments/FullSearchableDocumentResetterTests.cs
Due: azure-pipelines.dfe.yml

Remove All Searchable Documents Test
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/AzureBlobStorageClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/RemoveSearchableDocuments/SearchableDocumentRemoverTests.cs
Due: azure-pipelines.dfe.yml

Move the services into their own folders. Adjust namespaces.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/FullReset/FullResetFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/ResetSearchableDocuments/FullSearchableDocumentResetter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/ResetSearchableDocuments/IFullSearchableDocumentResetter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/ResetSearchableDocuments/PerformResetResponse.cs
Due: azure-pipelines.dfe.yml

Tests for FullSearchableDocumentResetter
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ContentApiClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/SearchableDocumentRemoverMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/ResetSearchableDocuments/FullSearchableDocumentResetterTests.cs
Due: azure-pipelines.dfe.yml

Implemented GetAllLivePublicationInfos
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/ContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/FullSearchableDocumentResetter.cs
Due: azure-pipelines.dfe.yml

Register FullSearchableDocumentResetter in container
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
Due: azure-pipelines.dfe.yml

GetAllLivePublicationInfos works! Unit test added and run.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/ContentApi/ContentApiClientTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
Due: azure-pipelines.dfe.yml

EES-5779 - Fix type script errors
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseDataFileReplacePage.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/__tests__/ReleaseDataFileReplacementCompletePage.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add tests that were removed before because they were made out of date by EES-5779, Add tests to cover feature flag being on and off in Admin. Add feature flagging.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Controllers/Api/Public.Data/DataSetVersionsController.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/Public.Data/NextDataSetVersionCreateRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IDataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ApiDataSetVersionPlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/appsettings.json
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/ValidationProblemViewModelTestExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Options/FeatureFlags.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/DataImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/DataSetVersion.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/DataSetVersionImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/CreateNextDataSetVersionMappingsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/appsettings.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Enhance public data processor feature flag automated testing for new functionality by testing it when off and when on.
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/FunctionsIntegrationTest.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/CreateNextDataSetVersionMappingsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Fix failing public data processor tests when creating data set version, EnableReplacementOfPublicApiDataSets feature flag disabled by default if not present in the configs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Add support for frontend feature flagging (usinghook or functional component), enhance tests to test for feature flag for the data file replacement plan component.
  src/GovUk.Education.ExploreEducationStatistics.Common/Options/FeatureFlags.cs
  src/explore-education-statistics-admin/src/App.tsx
  src/explore-education-statistics-admin/src/config/featureFlags.ts
  src/explore-education-statistics-admin/src/contexts/FeatureFlagContext.tsx
  src/explore-education-statistics-admin/src/hooks/useFeatureFlagged.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementPlan.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFilesTableRow.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFilesTableRow.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Make the feature flag configuration not required
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileUploadsValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReplacementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/FileUploadsValidatorService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ApiDataSetVersionPlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Extensions/ValidationProblemViewModelTestExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/FunctionsIntegrationTest.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/CreateNextDataSetVersionMappingsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/CreateNextDataSetVersionMappingsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/ProcessNextDataSetVersionMappingsFunctions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Helpers/SemVersionParser.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionService.cs
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementPlan.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Make the frontend tests easier to understand, improve feature flagging frontend components and remove redundant properties and components. Improve memoizing in the data file replacement component
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/CreateNextDataSetVersionMappingsFunctionTests.cs
  src/explore-education-statistics-admin/src/App.tsx
  src/explore-education-statistics-admin/src/config/featureFlags.ts
  src/explore-education-statistics-admin/src/contexts/FeatureFlagContext.tsx
  src/explore-education-statistics-admin/src/hooks/useFeatureFlagged.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementPlan.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFilesTableRow.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Tidy up jest tests
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Minor tweaks
  src/explore-education-statistics-frontend/src/services/azurePublicationService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Show facet option result counts in filter selects
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPageAzure.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/FiltersAzureSearch.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6086 - added test for common FileRequestProcessor workflow.
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/ProcessRequestFilesWorkflowTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Workflow/ProcessRequestFilesWorkflow.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.DuckDb/DuckDb/DuckDbConnection.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Additional modifications based on PR feedback
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/ContentApiClientMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/FullSearchableDocumentResetterMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/AzureBlobStorage/AzureBlobStorageClientIntegrationTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/FullReset/FullResetFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Services/ResetSearchableDocuments/FullSearchableDocumentResetterTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/AzureBlobStorageClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/IAzureBlobStorageClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/ContentApi/IContentApiClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/FullReset/FullResetFunction.cs
Due: azure-pipelines.dfe.yml

Reduce the # of characters DataSetVersionToReplace in DataSetVersionImports is from 50 to 10.
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/DataSetVersionImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Migrations/20250513160631_EES5779_AddDataSetVersionToReplaceToDataSetVersionImport.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Migrations/20250513160631_EES5779_AddDataSetVersionToReplaceToDataSetVersionImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Migrations/PublicDataDbContextModelSnapshot.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Skip the new integration test!
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/AzureBlobStorage/AzureBlobStorageClientIntegrationTests.cs
Due: azure-pipelines.dfe.yml

EES-6119 Removing the `Lead` Release Role on the BE, and all references to it
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/AssignPrereleaseContactsToSpecificReleaseAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/DeleteSpecificCommentAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ReleaseStatusAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateReleaseRoleAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/UpdateSpecificReleaseVersionAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewReleaseStatusHistoryAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificMethodologyAuthorizationHandlerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificPreReleaseSummaryAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Security/AuthorizationHandlers/ViewSpecificReleaseAuthorizationHandlersTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/PreReleaseUserServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseAmendmentServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseInviteServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleasePermissionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserManagementServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserReleaseInviteRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserReleaseRoleRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserReleaseRoleServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/AuthorizationHandlerService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSpecificMethodologyAuthorizationHandlers.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/UserRoleService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Model/ReleaseRole.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6119 Adding the EF Core Content DB migration to migrate `Lead` roles to `Contributors`
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250513134323_EES6119-MigrateReleaseLeadRolesToContributors.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Migrations/ContentMigrations/20250513134323_EES6119-MigrateReleaseLeadRolesToContributors.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6119 - Fixing BE tests
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseAmendmentServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserReleaseRoleRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserRoleServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6119 - FE changes - Remove any reference to the `Lead` role
  src/explore-education-statistics-admin/src/pages/users/__data__/testUserData.ts
  src/explore-education-statistics-admin/src/pages/users/__tests__/UserInvitePage.test.tsx
  src/explore-education-statistics-admin/src/pages/users/components/__tests__/ReleaseAccessForm.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Reinstate PublishedReleaseVersionInfo in Publisher project and rename ReleaseVersionPublishedEvent.PublishedReleaseVersionInfo to ReleaseVersionPublishedEvent.ReleaseVersionPublishedEventInfo
  src/GovUk.Education.ExploreEducationStatistics.Events/ReleaseVersionPublishedEvent.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/PublisherEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IPublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedReleaseVersionInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Refactor handling of archived publications
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedPublicationInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Raise an event when publications have been archived
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IPublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/appsettings.example.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Rename file name FeatureFlagged.tsx, clarify name of feature flag in tests
  src/explore-education-statistics-admin/src/components/FeatureFlagged.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFileReplacementPlan.test.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/__tests__/DataFilesTableRow.test.tsx
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6147 - granting the Public Site App Services Managed Identity the Key Vault Certificate User role so that it can pull certificates from Key Vault.
  infrastructure/templates/template.json
Due: none

EES-6086 - introducing MockBuilders to Workflow tests
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/MockBuilders/FileAccessorMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/MockBuilders/WorkflowActorMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/ProcessRequestFilesWorkflowTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetVersionCallsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiQueriesProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicZipDownloadsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Workflow/ProcessRequestFilesWorkflow.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Clarify api ApiDataSetVersionPlanViewModel assignment
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6086 - updated Asserters to return themselves, for ease of chaining verifications together
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/MockBuilders/FileAccessorMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/Workflow/ProcessRequestFilesWorkflowTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Workflow/ProcessRequestFilesWorkflow.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6119 Addressing PR comments
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/UserReleaseRoleRepositoryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Security/AuthorizationHandlers/ViewSpecificMethodologyAuthorizationHandlers.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6121 Partially revert changes made to DeleteBlobIfExists in ef7e0d468e31dcc14a1fa3dcb7565d6eda2fd3a4 which were causing the container to be deleted when deleting a blob
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/AzureBlobStorageClient.cs
Due: azure-pipelines.dfe.yml

EES-6121 Use BlobContainerClient.DeleteBlobIfExistsAsync
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/AzureBlobStorageClient.cs
Due: azure-pipelines.dfe.yml

🐛 EES-6121 Partially revert changes made to `DeleteBlobIfExists` (#5871)
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Clients/AzureBlobStorage/AzureBlobStorageClient.cs
Due: azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
