Repository dfe-analytical-services/explore-education-statistics: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-main.yml, azure-pipelines.dfe.yml

azure-pipelines-main.yml:
  jobs:
  - job: BackendVerify
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET $(DotNetVersion)
      inputs:
        version: $(DotNetVersion)
        performMultiLevelLookup: true
    - task: DotNetCoreCLI@2
      displayName: Verify style
  ...

azure-pipelines.dfe.yml:
  jobs:
  - job: Backend
    pool: ees-ubuntu2204-large
    workspace:
      clean: all
    steps:
    - task: UseDotNet@2
      displayName: Install .NET 8.0 SDK
      inputs:
        version: 8.0.x
        performMultiLevelLookup: true
    - task: UseDotNet@2
      displayName: Install .NET 6.0 SDK
      inputs:
  ...

EES-5898: Convert private error list field to method-scoped. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidator.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Remove comments, minor renames.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Fixture/IntegrationTestFixture.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/FileValidatorServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Methodologies/MethodologyImageServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/Methodologies/MethodologyImageServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseImageServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseImageServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Requests/UploadDataSetRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Methodologies/MethodologyImageService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseImageService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Return bulk validation errors from data sets all at once, minor renames/refactors. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidator.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common.Tests/Services/FileTypeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/FileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Services/Interfaces/IFileTypeService.cs
  src/GovUk.Education.ExploreEducationStatistics.Data.Processor/Services/ValidatorService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Replace SemVersion with GUIDs for dataset imports verion to replace.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IDataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/Public.Data/IProcessorClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Public.Data/ProcessorClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/DataSetVersionImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Migrations/20250509151405_EES5779_AddDataSetVersionToReplaceToDataSetVersionImport.Designer.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Migrations/20250509151405_EES5779_AddDataSetVersionToReplaceToDataSetVersionImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Migrations/20250513160631_EES5779_AddDataSetVersionToReplaceToDataSetVersionImport.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Model/Migrations/PublicDataDbContextModelSnapshot.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/NextDataSetVersionMappingsCreateRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/CreateNextDataSetVersionMappingsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/CreateNextDataSetVersionMappingsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Functions/ProcessNextDataSetVersionMappingsFunctions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Helpers/SemVersionParser.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/Interfaces/IDataSetVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Refactor data set validator to reduce duplication. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Resources/dataset_names-invalid-filename-contains-extension.csv
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/DataSetValidatorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/DataSetValidators.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5898: Move and rename DataSetFileDto to be more generic. [skip ci]
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/MockBuilders/DataSetFileBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/DataSetDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Models/FileDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/DataSetValidator.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetValidator.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Validators/DataSetValidators.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6066 Fix PAPI tests
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Strategies/AnalyticsWritePublicApiQueryStrategyTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Startup.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6066 Remove unused AddAppSettings from Content API tests
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Fixtures/TestApplicationFactory.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6066 Turn AnalyticsCaptureRequestBase into an interface
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWritePublicZipDownloadStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/Interfaces/IAnalyticsWriteStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWritePublicApiQueryStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/Interfaces/IAnalyticsWriteStrategy.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Rename LocalizedMessage error to be more specific and to make clear the context.
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/NextDataSetVersionMappingsCreateRequest.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Requests/Validators/ValidationMessages.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor.Tests/Functions/CreateNextDataSetVersionMappingsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionMappingService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Processor/Services/DataSetVersionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-5977 Track all zip downloads from Data catalogue page
  src/GovUk.Education.ExploreEducationStatistics.Common/Utils/FromPageEnum.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Controllers/ReleaseFileController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/ReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Requests/AnalyticsCaptureRequests.cs
  src/explore-education-statistics-common/src/services/downloadService.ts
  src/explore-education-statistics-frontend/src/modules/data-catalogue/DataCataloguePage.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/DataSetFilePage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/PublicationReleasePage.tsx
  src/explore-education-statistics-frontend/src/services/downloadService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Enhancement to OnReleaseVersionPublished function
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnReleaseVersionPublished/OnReleaseVersionPublishedFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseVersionPublished/Dtos/ReleaseVersionPublishedEventDto.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseVersionPublished/OnReleaseVersionPublishedFunction.cs
Due: azure-pipelines.dfe.yml

EES-6152 Set publicNetworkAccessEnabled true on the Search storage account (equivalent to Network option 'Enabled from selected virtual networks and IP addresses') when firewallRules is set.
  infrastructure/templates/search/application/searchService.bicep
Due: none

EES-6152 Tidy up TODO in searchService.bicep. Search service remains publicly accessible.
  infrastructure/templates/search/application/searchService.bicep
  infrastructure/templates/search/main.bicep
Due: none

EES-6086 - a couple of comment and import tweaks from PR review
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetVersionCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Workflow/ProcessRequestFilesWorkflow.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6086 - added capture for DataSet level analytics calls
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetCalls/WithCoreDataSetDetails.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetCalls/WithParameters.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicApi/DataSetCalls/WithPreviewTokens.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicApiDataSetCallsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicZipDownloadsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/TestAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/ProcessorHostBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/AnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/Interfaces/IAnalyticsPathResolver.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicApiDataSetCallsProcessor.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

An attempt to make the tests a bit cleaer.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/OnReleaseVersionPublished/OnReleaseVersionPublishedFunctionTests.cs
Due: azure-pipelines.dfe.yml

EES-5977 Track all zip downloads from Data catalogue page
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicZipDownloads/ZipDownloadRequestFile_NoSubjectId.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicZipDownloads/ZipDownloadRequestFile_WithSubjectId.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Resources/PublicZipDownloads/ZipDownloadRequestFile_WithSubjectId_Copy.json
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer.Tests/Services/PublicZipDownloadsProcessorTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Consumer/Services/PublicZipDownloadsProcessor.cs
  src/GovUk.Education.ExploreEducationStatistics.Common/Utils/FromPageEnum.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api.Tests/Controllers/ReleaseFileControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Controllers/ReleaseFileController.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/ReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Requests/AnalyticsCaptureRequests.cs
  src/explore-education-statistics-common/src/services/downloadService.ts
  src/explore-education-statistics-frontend/src/modules/data-catalogue/DataCataloguePage.tsx
  src/explore-education-statistics-frontend/src/modules/data-catalogue/DataSetFilePage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/PublicationReleasePage.tsx
  src/explore-education-statistics-frontend/src/services/downloadService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Fixing unit tests
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Models/PublicationBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedPublicationInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedReleaseVersionInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Refactor PublishingCompletionService to improve handling when publications are archived
  src/GovUk.Education.ExploreEducationStatistics.Events/ReleaseVersionPublishedEvent.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Models/PublicationBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/PublicationCacheServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/PublisherEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IPublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedPublicationInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedReleaseVersionInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Raise an event when publications are archived due to publishing
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/PublisherEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IPublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/appsettings.example.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Refactor API dataset version handling to support replacements of data set versions that are not major version increments.
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Controllers/Api/DataReplacementControllerTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseDataFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ReleaseVersionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin.Tests/Services/ThemeServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Repositories/DataSetVersionRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/Interfaces/IDataSetVersionRepository.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseDataFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReleaseVersionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Services/ReplacementService.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ApiDataSetVersionPlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DataReplacementPlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/DeleteDataFilePlanViewModel.cs
  src/GovUk.Education.ExploreEducationStatistics.Admin/ViewModels/ReplacementApiDataSetVersionPlanViewModel.cs
  src/explore-education-statistics-admin/src/App.tsx
  src/explore-education-statistics-admin/src/contexts/FeatureFlagContext.tsx
  src/explore-education-statistics-admin/src/pages/release/data/components/DataFileReplacementPlan.tsx
  src/explore-education-statistics-admin/src/services/dataReplacementService.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 - Change IImmutableList to IReadOnlyList. - Rename `publicationIds` to `newlyPublishedPublicationIds` in HandleArchivedPublications.
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedPublicationInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Change PublishedPublicationInfo to use Equatable
  src/GovUk.Education.ExploreEducationStatistics.Common/GovUk.Education.ExploreEducationStatistics.Common.csproj
  src/GovUk.Education.ExploreEducationStatistics.Events.Tests/EventGrid/Builders/EventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedPublicationInfo.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Refactor `PublishingCompletionService` to improve handling when publications are archived (#5867)
  src/GovUk.Education.ExploreEducationStatistics.Common/GovUk.Education.ExploreEducationStatistics.Common.csproj
  src/GovUk.Education.ExploreEducationStatistics.Events.Tests/EventGrid/Builders/EventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Events/ReleaseVersionPublishedEvent.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/PublicationCacheServiceMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/PublisherEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IPublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedPublicationInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishedReleaseVersionInfo.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Add more comments explaining setting latest published release versions.
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Added a commandHandler component into the command handlers so we can log inputs and outputs consistently for each of them, like we do for the event handlers.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/TestableCommandHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/FullReset/FullResetFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RefreshSearchableDocument/RefreshSearchableDocumentFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/ReindexSearchableDocuments/ReindexSearchableDocumentsFunctionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Functions/RemoveSearchableDocument/RemoveSearchableDocumentTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/FullReset/FullResetFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RefreshSearchableDocument/RefreshSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/ReindexSearchableDocuments/ReindexSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RemoveSearchableDocument/RemoveSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/Core/CommandHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/Core/ICommandHandler.cs
Due: azure-pipelines.dfe.yml

Added support for cancelled task exceptions
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/Core/CommandHandler.cs
Due: azure-pipelines.dfe.yml

EES-6107 Rename IPublisherEventRaiser.RaiseReleaseVersionPublishedEvents to OnReleaseVersionsPublished
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/PublisherEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IPublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Handle when cancellation needs to return a result.
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/FullReset/FullResetFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RefreshSearchableDocument/RefreshSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/Core/CommandHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/Core/ICommandHandler.cs
Due: azure-pipelines.dfe.yml

Fix unused namespaces
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Extensions/HostBuilderExtension.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RefreshSearchableDocument/RefreshSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnPublicationArchived/OnPublicationArchivedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnPublicationChanged/OnPublicationChangedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnPublicationLatestPublishedReleaseReordered/OnPublicationLatestPublishedReleaseReorderedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnPublicationRestored/OnPublicationRestoredFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseSlugChanged/OnReleaseSlugChangedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnReleaseVersionPublished/OnReleaseVersionPublishedFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/EventHandlers/OnThemeUpdated/OnThemeUpdatedFunction.cs
Due: azure-pipelines.dfe.yml

EES-6107 Raise an event when publications are archived due to publishing
  infrastructure/templates/template.json
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Builders/Services/PublisherEventRaiserMockBuilder.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublisherEventRaiserTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/Interfaces/IPublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublisherEventRaiser.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/Services/PublishingCompletionService.cs
  src/GovUk.Education.ExploreEducationStatistics.Publisher/appsettings.example.json
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6107 Reformat PublishingCompletionServiceTests
  src/GovUk.Education.ExploreEducationStatistics.Publisher.Tests/Services/PublishingCompletionServiceTests.cs
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6156 Make AnalyticsWriter/Manager/Consumer common
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/GovUk.Education.ExploreEducationStatistics.Analytics.Common.csproj
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Interfaces/IAnalyticsCaptureRequestBase.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Interfaces/IAnalyticsWriteStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/GovUk.Education.ExploreEducationStatistics.Content.Services.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/ReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWritePublicZipDownloadStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/Interfaces/IAnalyticsWriteStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.csproj
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWritePublicApiQueryStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.sln
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

EES-6157 Make AnalyticsWriter/Manager/Consumer common
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/GovUk.Education.ExploreEducationStatistics.Analytics.Common.csproj
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Interfaces/IAnalyticsCaptureRequestBase.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Interfaces/IAnalyticsWriteStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Analytics.Common/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServicePermissionTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services.Tests/ReleaseFileServiceTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/GovUk.Education.ExploreEducationStatistics.Content.Services.csproj
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/ReleaseFileService.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/AnalyticsWritePublicZipDownloadStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Services/Strategies/Interfaces/IAnalyticsWriteStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerGetQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.Tests/Controllers/DataSetsControllerPostQueryTests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Extensions/AnalyticsServiceCollectionExtensions.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/GovUk.Education.ExploreEducationStatistics.Public.Data.Api.csproj
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Requests/AnalyticsCaptureRequests.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsConsumer.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsManager.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/AnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/DataSetQueryService.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Services/Interfaces/IAnalyticsWriter.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Startup.cs
  src/GovUk.Education.ExploreEducationStatistics.Public.Data.Api/Strategies/AnalyticsWritePublicApiQueryStrategy.cs
  src/GovUk.Education.ExploreEducationStatistics.sln
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

PR improvements based on suggestions
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Builders/TestableCommandHandler.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp.Tests/Clients/AzureBlobStorage/AzureBlobStorageIntegrationClient.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/AzureBlobStorageException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetPublicationLatestReleaseSearchViewModelException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Exceptions/UnableToGetReleasesForPublicationException.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RemovePublicationSearchableDocuments/RemovePublicationSearchableDocumentsFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Functions/CommandHandlers/RemoveSearchableDocument/RemoveSearchableDocumentFunction.cs
  src/GovUk.Education.ExploreEducationStatistics.Content.Search.FunctionApp/Services/Core/CommandHandler.cs
Due: azure-pipelines.dfe.yml

WIP Add layout changes for find stats azure search when query param present
  pnpm-lock.yaml
  src/explore-education-statistics-common/src/styles/utils/_flex.scss
  src/explore-education-statistics-frontend/package.json
  src/explore-education-statistics-frontend/src/components/FilterResetButtonAzureSearch.module.scss
  src/explore-education-statistics-frontend/src/components/FilterResetButtonAzureSearch.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/components/FiltersAzureSearch.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP separate query method for azure
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/modules/find-statistics/utils/createPublicationListRequest.ts
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

WIP processing search results in query fn
  src/explore-education-statistics-frontend/src/modules/find-statistics/FindStatisticsPage.tsx
  src/explore-education-statistics-frontend/src/queries/publicationQueries.ts
Due: azure-pipelines-main.yml, azure-pipelines.dfe.yml

Path conditions:
  azure-pipelines-main.yml: any file but: infrastructure, src/GovUk.Education.ExploreEducationStatistics.Content.Search*
  azure-pipelines.dfe.yml: any file but: infrastructure
